.depth6Frame0 {
    height: 3.5rem;
    width: 3.5rem;
    position: relative;
    border-radius: var(--br-9xl);
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .jen {
    align-self: stretch;
    position: relative;
    line-height: 1.5rem;
    font-weight: 500;
  }
  .depth7Frame0 {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .heyISaw {
    position: relative;
    line-height: 1.313rem;
  }
  .depth6Frame1,
  .depth7Frame1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .depth7Frame1 {
    overflow: hidden;
    justify-content: flex-start;
    font-size: var(--font-size-sm);
    color: var(--color-lightsteelblue);
  }
  .depth6Frame1 {
    flex: 1;
    justify-content: center;
    min-width: 17.25rem;
    max-width: 100%;
  }
  .depth5Frame0 {
    width: 31.063rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-base);
    max-width: calc(100% - 49px);
  }
  .m {
    position: relative;
    line-height: 1.313rem;
    display: inline-block;
    min-width: 1.813rem;
  }
  .depth5Frame1,
  .depth6Frame01 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth5Frame1 {
    font-size: var(--font-size-sm);
    color: var(--color-lightsteelblue);
  }
  .depth4Frame4 {
    align-self: stretch;
    background-color: var(--color-gray-200);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-5xs) var(--padding-base);
    box-sizing: border-box;
    min-height: 4.5rem;
    gap: var(--gap-xl);
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-white);
    font-family: var(--font-manrope);
  }
  @media screen and (max-width: 750px) {
    .depth5Frame0 {
      flex-wrap: wrap;
    }
  }