.learnAboutEpiq {
    align-self: stretch;
    position: relative;
    line-height: 1.5rem;
    font-weight: 500;
    white-space: nowrap;
  }
  .depth6Frame0 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-base);
    color: var(--color-white);
  }
  .dec312022 {
    align-self: stretch;
    position: relative;
    line-height: 1.313rem;
    white-space: nowrap;
  }
  .depth6Frame1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .daysLeft {
    align-self: stretch;
    position: relative;
    line-height: 1.313rem;
    white-space: nowrap;
  }
  .depth5Frame0,
  .depth6Frame2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .depth6Frame2 {
    align-self: stretch;
    justify-content: flex-start;
  }
  .depth5Frame0 {
    width: 53rem;
    justify-content: center;
    max-width: 100%;
  }
  .progressBarsIcon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .depth8Frame0 {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.563rem;
    height: 1.063rem;
  }
  .depth7Frame0 {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .depth6Frame01 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-11xs);
  }
  .depth4Frame7,
  .depth5Frame1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-19xl);
  }
  .depth4Frame7 {
    align-self: stretch;
    background-color: var(--color-gray-200);
    flex-direction: row;
    justify-content: space-between;
    padding: var(--padding-xs) var(--padding-base);
    box-sizing: border-box;
    max-width: 100%;
    gap: var(--gap-0);
    row-gap: 20px;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-lightsteelblue);
    font-family: var(--font-manrope);
  }