.depth7Frame0 {
    height: 2.5rem;
    width: 2.5rem;
    position: relative;
    border-radius: var(--br-xl);
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .dao {
    align-self: stretch;
    position: relative;
    line-height: 1.5rem;
    font-weight: 500;
  }
  .depth8Frame0 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .votingInterface {
    position: relative;
    line-height: 1.313rem;
    display: inline-block;
    min-width: 6.438rem;
  }
  .depth8Frame1 {
    flex-direction: column;
    font-size: var(--font-size-sm);
    color: var(--color-lightsteelblue);
  }
  .depth6Frame0,
  .depth7Frame1,
  .depth8Frame1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth7Frame1 {
    flex: 1;
    flex-direction: column;
  }
  .depth6Frame0 {
    align-self: stretch;
    flex-direction: row;
    padding: 0 8.312rem 0 0;
    gap: var(--gap-xs);
  }
  .depth10Frame0,
  .vector0 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .vector0 {
    width: 100%;
    height: 100%;
  }
  .depth10Frame0 {
    width: 1.125rem;
    height: 0.875rem;
  }
  .depth9Frame0 {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .depth8Frame01 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .overview {
    position: relative;
    line-height: 1.313rem;
    font-weight: 500;
    display: inline-block;
    min-width: 3.813rem;
  }
  .depth7Frame01,
  .depth8Frame11 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth7Frame01 {
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-5xs) var(--padding-160xl) var(--padding-5xs)
      var(--padding-xs);
    gap: var(--gap-xs);
  }
  .depth10Frame01,
  .vector01 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .vector01 {
    width: 100%;
    height: 100%;
  }
  .depth10Frame01 {
    width: 1.063rem;
    height: 1.25rem;
  }
  .depth9Frame01 {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .depth8Frame02 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .proposals {
    position: relative;
    line-height: 1.313rem;
    font-weight: 500;
    display: inline-block;
    min-width: 4.125rem;
  }
  .depth7Frame11,
  .depth8Frame12 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth7Frame11 {
    align-self: stretch;
    border-radius: var(--br-xs);
    background-color: var(--color-darkslategray-200);
    flex-direction: row;
    align-items: center;
    padding: var(--padding-5xs) 10.875rem var(--padding-5xs) var(--padding-xs);
    gap: var(--gap-xs);
  }
  .depth10Frame02,
  .vector02 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .vector02 {
    width: 100%;
    height: 100%;
  }
  .depth10Frame02 {
    width: 1.5rem;
    height: 0.938rem;
  }
  .depth9Frame02 {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .depth8Frame03 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .members {
    position: relative;
    line-height: 1.313rem;
    font-weight: 500;
    display: inline-block;
    min-width: 3.875rem;
  }
  .depth7Frame2,
  .depth8Frame13 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth7Frame2 {
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-5xs) 11.125rem var(--padding-5xs) var(--padding-xs);
    gap: var(--gap-xs);
  }
  .depth10Frame03,
  .vector03 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .vector03 {
    width: 100%;
    height: 100%;
  }
  .depth10Frame03 {
    width: 1.125rem;
    height: 1.125rem;
  }
  .depth9Frame03 {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .depth8Frame04 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .docs {
    position: relative;
    line-height: 1.313rem;
    font-weight: 500;
    display: inline-block;
    min-width: 2.125rem;
  }
  .depth8Frame14 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth6Frame1,
  .depth7Frame3 {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
  }
  .depth7Frame3 {
    flex-direction: row;
    align-items: center;
    padding: var(--padding-5xs) 12.875rem var(--padding-5xs) var(--padding-xs);
    gap: var(--gap-xs);
  }
  .depth6Frame1 {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-5xs);
    font-size: var(--font-size-sm);
  }
  .depth5Frame0 {
    align-self: stretch;
    gap: var(--gap-base);
  }
  .depth3Frame0,
  .depth4Frame0,
  .depth5Frame0 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth4Frame0 {
    align-self: stretch;
    flex: 1;
    background-color: var(--color-gray-200);
    padding: var(--padding-base);
    box-sizing: border-box;
    min-height: 43.75rem;
  }
  .depth3Frame0 {
    height: 43.75rem;
    width: 20rem;
    overflow: hidden;
    flex-shrink: 0;
    min-width: 20rem;
  }
  .votingOverview {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    line-height: 2.5rem;
    font-weight: 700;
    font-family: inherit;
  }
  .depth4Frame01,
  .depth5Frame01 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth5Frame01 {
    width: 18rem;
    flex-direction: column;
    min-width: 18rem;
  }
  .depth4Frame01 {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    padding: var(--padding-base) var(--padding-585xl) var(--padding-base)
      var(--padding-base);
    gap: var(--gap-xs);
    font-size: var(--font-size-13xl);
  }
  .allProposals {
    align-self: stretch;
    position: relative;
    line-height: 1.438rem;
  }
  .depth4Frame1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-base) var(--padding-base) var(--padding-5xs);
    font-size: var(--font-size-lg);
  }
  .id {
    align-self: stretch;
    position: relative;
    line-height: 1.313rem;
    font-weight: 500;
    white-space: nowrap;
  }
  .depth9Frame04 {
    width: 15.5rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-xs) var(--padding-base) var(--padding-smi);
    box-sizing: border-box;
  }
  .title {
    align-self: stretch;
    position: relative;
    line-height: 1.313rem;
    font-weight: 500;
    white-space: nowrap;
  }
  .depth9Frame1 {
    width: 16.563rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-xs) var(--padding-base) var(--padding-smi);
    box-sizing: border-box;
  }
  .status {
    align-self: stretch;
    position: relative;
    line-height: 1.313rem;
    font-weight: 500;
    white-space: nowrap;
  }
  .depth9Frame2 {
    width: 12.063rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-xs) var(--padding-base) var(--padding-smi);
    box-sizing: border-box;
  }
  .actions {
    align-self: stretch;
    position: relative;
    line-height: 1.313rem;
    font-weight: 500;
    white-space: nowrap;
  }
  .depth7Frame02,
  .depth7Frame12,
  .depth8Frame05,
  .depth9Frame3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth9Frame3 {
    width: 10.5rem;
    flex-shrink: 0;
    flex-direction: column;
    padding: var(--padding-xs) var(--padding-base) var(--padding-smi);
    box-sizing: border-box;
    color: var(--color-lightsteelblue);
  }
  .depth7Frame02,
  .depth7Frame12,
  .depth8Frame05 {
    align-self: stretch;
  }
  .depth8Frame05 {
    background-color: #1a2633;
    overflow-x: auto;
    flex-direction: row;
  }
  .depth7Frame02,
  .depth7Frame12 {
    flex-direction: column;
  }
  .depth4Frame3,
  .depth5Frame02,
  .depth6Frame01 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .depth6Frame01 {
    flex: 1;
    flex-direction: column;
  }
  .depth4Frame3,
  .depth5Frame02 {
    align-self: stretch;
    box-sizing: border-box;
  }
  .depth5Frame02 {
    border-radius: var(--br-xs);
    background-color: var(--color-gray-200);
    border: 1px solid var(--color-darkslategray-100);
    overflow: hidden;
    flex-direction: row;
  }
  .depth4Frame3 {
    flex-direction: column;
    padding: var(--padding-xs) var(--padding-base);
  }
  .recent {
    align-self: stretch;
    position: relative;
    line-height: 1.313rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .depth6Frame02,
  .depth7Frame03 {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .depth6Frame02 {
    flex: 0.9615;
    border-radius: var(--br-xs);
    background-color: var(--color-darkslategray-200);
    flex-direction: row;
    justify-content: center;
    padding: var(--padding-3xs-5) 1.062rem;
    box-sizing: border-box;
    min-width: 5.25rem;
    max-width: 30rem;
  }
  .ongoing {
    align-self: stretch;
    position: relative;
    line-height: 1.313rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .depth6Frame11,
  .depth7Frame04 {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .depth6Frame11 {
    border-radius: var(--br-xs);
    background-color: var(--color-darkslategray-200);
    flex-direction: row;
    justify-content: center;
    padding: var(--padding-3xs-5) var(--padding-base);
    box-sizing: border-box;
    min-width: 5.25rem;
    max-width: 30rem;
  }
  .all {
    align-self: stretch;
    position: relative;
    line-height: 1.313rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .depth7Frame05 {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .depth5Frame03,
  .depth6Frame2 {
    flex-direction: row;
    box-sizing: border-box;
  }
  .depth6Frame2 {
    flex: 0.3462;
    border-radius: var(--br-xs);
    background-color: var(--color-darkslategray-200);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs-5) 2.062rem;
    min-width: 5.25rem;
    max-width: 30rem;
  }
  .depth5Frame03 {
    flex: 1;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: var(--padding-xs) 38.375rem var(--padding-xs) var(--padding-base);
    gap: 0.75rem 0.625rem;
    max-width: 100%;
  }
  .depth3Frame1,
  .depth4Frame4,
  .depth5Frame03 {
    display: flex;
    align-items: flex-start;
  }
  .depth4Frame4 {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    text-align: center;
  }
  .depth3Frame1 {
    flex: 1;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0 var(--padding-smi);
    box-sizing: border-box;
    min-width: 36.875rem;
    max-width: 60rem;
    font-size: var(--font-size-sm);
  }
  .depth1Frame0,
  .depth2Frame1 {
    align-self: stretch;
    max-width: 100%;
  }
  .depth2Frame1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding-xl) var(--padding-5xl);
    box-sizing: border-box;
    gap: var(--gap-9xs);
  }
  .depth1Frame0 {
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-white);
    font-family: var(--font-manrope);
  }
  .depth0Frame0,
  .depth1Frame0,
  .galileoDesign6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth0Frame0 {
    align-self: stretch;
    background-color: var(--color-gray-200);
    min-height: 50rem;
    max-width: 100%;
  }
  .galileoDesign6 {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1125px) {
    .depth3Frame0 {
      flex: 1;
    }
    .depth2Frame1 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1025px) {
    .votingOverview {
      font-size: var(--font-size-7xl);
      line-height: 2rem;
    }
    .depth4Frame01 {
      padding-right: var(--padding-283xl);
      box-sizing: border-box;
    }
    .depth5Frame03 {
      padding-right: 19.188rem;
      box-sizing: border-box;
    }
    .depth3Frame1 {
      max-width: 100%;
    }
  }
  @media screen and (max-width: 750px) {
    .depth6Frame0,
    .depth7Frame01,
    .depth7Frame11,
    .depth7Frame2,
    .depth7Frame3 {
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .votingOverview {
      font-size: var(--font-size-lgi);
      line-height: 1.5rem;
    }
    .depth4Frame01 {
      padding-right: var(--padding-132xl);
      box-sizing: border-box;
    }
    .depth6Frame02,
    .depth6Frame11,
    .depth6Frame2 {
      max-width: 100%;
    }
    .depth5Frame03 {
      padding-right: 9.563rem;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .depth6Frame02,
    .depth6Frame11,
    .depth6Frame2 {
      max-width: 100%;
    }
    .depth3Frame1 {
      min-width: 100%;
    }
  }