.rewards {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    line-height: 2.5rem;
    font-weight: 700;
    font-family: inherit;
  }
  .depth6Frame0 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .viewAllThe {
    position: relative;
    line-height: 1.313rem;
  }
  .depth4Frame0,
  .depth5Frame0,
  .depth6Frame1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth6Frame1 {
    flex-direction: column;
    font-size: var(--font-size-sm);
    color: var(--color-lightsteelblue);
  }
  .depth4Frame0,
  .depth5Frame0 {
    gap: var(--gap-xs);
    max-width: 100%;
  }
  .depth5Frame0 {
    width: 33.125rem;
    flex-direction: column;
    min-width: 18rem;
  }
  .depth4Frame0 {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    padding: var(--padding-base) 22.625rem var(--padding-base) var(--padding-base);
    box-sizing: border-box;
    font-size: var(--font-size-13xl);
  }
  .tokenBalance {
    align-self: stretch;
    position: relative;
    line-height: 1.438rem;
  }
  .depth4Frame1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-base) var(--padding-base) var(--padding-5xs);
  }
  .depth9Frame0,
  .vector0 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .vector0 {
    width: 100%;
    height: 100%;
  }
  .depth9Frame0 {
    width: 1.125rem;
    height: 1.375rem;
  }
  .depth8Frame0 {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .depth7Frame0 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .divider {
    position: relative;
    line-height: 1.25rem;
    display: inline-block;
    min-width: 2.938rem;
  }
  .depth6Frame01,
  .depth7Frame1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth6Frame01 {
    flex: 1;
    border-radius: var(--br-5xs);
    background-color: var(--color-gray-100);
    border: 1px solid var(--color-darkslategray-100);
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-mini) var(--padding-45xl) var(--padding-mini)
      var(--padding-mid);
    gap: var(--gap-xs);
    min-width: 10.125rem;
    max-width: 10.375rem;
  }
  .depth9Frame01,
  .vector01 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .vector01 {
    width: 100%;
    height: 100%;
  }
  .depth9Frame01 {
    width: 1.375rem;
    height: 1.188rem;
  }
  .depth8Frame01 {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .depth7Frame01 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .secondDivider {
    position: relative;
    line-height: 1.25rem;
    display: inline-block;
    min-width: 2.938rem;
  }
  .depth6Frame11,
  .depth7Frame11 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth6Frame11 {
    flex: 1;
    border-radius: var(--br-5xs);
    background-color: var(--color-gray-100);
    border: 1px solid var(--color-darkslategray-100);
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-mini) var(--padding-45xl) var(--padding-mini)
      var(--padding-mid);
    gap: var(--gap-xs);
    min-width: 10.125rem;
    max-width: 10.375rem;
  }
  .depth9Frame02,
  .vector02 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .vector02 {
    width: 100%;
    height: 100%;
  }
  .depth9Frame02 {
    width: 1.313rem;
    height: 1.188rem;
  }
  .depth8Frame02 {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .depth7Frame02 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .thirdDivider {
    position: relative;
    line-height: 1.25rem;
    display: inline-block;
    min-width: 2.938rem;
  }
  .depth6Frame2,
  .depth7Frame12 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth6Frame2 {
    flex: 1;
    border-radius: var(--br-5xs);
    background-color: var(--color-gray-100);
    border: 1px solid var(--color-darkslategray-100);
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-mini) var(--padding-45xl) var(--padding-mini)
      var(--padding-mid);
    gap: var(--gap-xs);
    min-width: 10.125rem;
    max-width: 10.375rem;
  }
  .depth9Frame03,
  .vector03 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .vector03 {
    width: 100%;
    height: 100%;
  }
  .depth9Frame03 {
    width: 1.5rem;
    height: 1.063rem;
  }
  .depth8Frame03 {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .depth7Frame03 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .fourthDivider {
    position: relative;
    line-height: 1.25rem;
    display: inline-block;
    min-width: 2.313rem;
  }
  .depth6Frame3,
  .depth7Frame13 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth6Frame3 {
    flex: 0.8789;
    border-radius: var(--br-5xs);
    background-color: var(--color-gray-100);
    border: 1px solid var(--color-darkslategray-100);
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-mini) var(--padding-55xl) var(--padding-mini)
      var(--padding-mid);
    gap: var(--gap-xs);
    min-width: 10.125rem;
    max-width: 10.375rem;
  }
  .depth9Frame04,
  .vector04 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .vector04 {
    width: 100%;
    height: 100%;
  }
  .depth9Frame04 {
    width: 0.875rem;
    height: 1.313rem;
  }
  .depth8Frame04 {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .depth7Frame04 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .fifthDivider {
    position: relative;
    line-height: 1.25rem;
    display: inline-block;
    min-width: 2.313rem;
  }
  .depth7Frame14 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth5Frame01,
  .depth6Frame4 {
    display: flex;
    flex-direction: row;
    gap: var(--gap-xs);
  }
  .depth6Frame4 {
    flex: 0.8789;
    border-radius: var(--br-5xs);
    background-color: var(--color-gray-100);
    border: 1px solid var(--color-darkslategray-100);
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-mini) var(--padding-55xl) var(--padding-mini)
      var(--padding-mid);
    min-width: 10.125rem;
    max-width: 10.375rem;
  }
  .depth5Frame01 {
    align-self: stretch;
    align-items: flex-start;
    justify-content: center;
  }
  .depth9Frame05,
  .vector05 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .vector05 {
    width: 100%;
    height: 100%;
  }
  .depth9Frame05 {
    width: 1.063rem;
    height: 1.125rem;
  }
  .depth8Frame05 {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .depth7Frame05 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .b {
    position: relative;
    line-height: 1.25rem;
    display: inline-block;
    min-width: 2.313rem;
  }
  .depth7Frame15 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth4Frame2,
  .depth5Frame1,
  .depth6Frame02 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .depth6Frame02 {
    border-radius: var(--br-5xs);
    background-color: var(--color-gray-100);
    border: 1px solid var(--color-darkslategray-100);
    align-items: center;
    padding: var(--padding-mini) 4.687rem var(--padding-mini) var(--padding-base);
    gap: var(--gap-xs);
  }
  .depth4Frame2,
  .depth5Frame1 {
    align-self: stretch;
    align-items: flex-start;
  }
  .depth4Frame2 {
    flex-direction: column;
    padding: var(--padding-base);
    gap: var(--gap-xs);
    font-size: var(--font-size-base);
  }
  .toNextLevel {
    position: relative;
    line-height: 1.5rem;
    font-weight: 500;
    display: inline-block;
    min-width: 8rem;
  }
  .depth5Frame02,
  .depth6Frame03 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth5Frame02 {
    align-self: stretch;
    flex-direction: row;
    padding: 0 46.75rem 0 0;
    gap: var(--gap-xl);
  }
  .depth5Frame11,
  .depth6Frame04 {
    border-radius: var(--br-9xs);
    max-width: 100%;
  }
  .depth6Frame04 {
    width: 43.813rem;
    flex: 1;
    background-color: var(--color-cornflowerblue);
  }
  .depth5Frame11 {
    align-self: stretch;
    height: 0.5rem;
    background-color: var(--color-darkslategray-100);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .level1 {
    align-self: stretch;
    position: relative;
    line-height: 1.313rem;
  }
  .depth4Frame3,
  .depth5Frame2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth5Frame2 {
    font-size: var(--font-size-sm);
    color: var(--color-lightsteelblue);
  }
  .depth4Frame3 {
    padding: var(--padding-base);
    box-sizing: border-box;
    gap: var(--gap-xs);
    max-width: 100%;
    font-size: var(--font-size-base);
  }
  .missionAccomplishmentHistory {
    align-self: stretch;
    position: relative;
    line-height: 1.438rem;
  }
  .depth4Frame4 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-base) var(--padding-base) var(--padding-5xs);
  }
  .nftBadgeGallery {
    align-self: stretch;
    position: relative;
    line-height: 1.438rem;
  }
  .depth4Frame12 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-base) var(--padding-base) var(--padding-5xs);
    z-index: 2;
  }
  .depth7Frame06 {
    width: 10.375rem;
    height: 10.344rem;
    position: relative;
    border-radius: var(--br-xs);
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .depth6Frame05 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 10.188rem;
    max-width: 10.375rem;
  }
  .depth7Frame07 {
    width: 10.375rem;
    height: 10.344rem;
    position: relative;
    border-radius: var(--br-xs);
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .depth6Frame12 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 10.188rem;
    max-width: 10.375rem;
  }
  .depth7Frame08 {
    width: 10.375rem;
    height: 10.344rem;
    position: relative;
    border-radius: var(--br-xs);
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .depth6Frame21 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 10.188rem;
    max-width: 10.375rem;
  }
  .depth7Frame09 {
    width: 10.375rem;
    height: 10.344rem;
    position: relative;
    border-radius: var(--br-xs);
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .depth6Frame31 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 10.188rem;
    max-width: 10.375rem;
  }
  .depth7Frame010 {
    width: 10.375rem;
    height: 10.344rem;
    position: relative;
    border-radius: var(--br-xs);
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .depth5Frame03,
  .depth6Frame41 {
    display: flex;
    align-items: flex-start;
  }
  .depth6Frame41 {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 10.188rem;
    max-width: 10.375rem;
  }
  .depth5Frame03 {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    gap: var(--gap-xs);
  }
  .depth7Frame011 {
    width: 10.375rem;
    height: 10.344rem;
    position: relative;
    border-radius: var(--br-xs);
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .depth6Frame06 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth7Frame012 {
    width: 10.375rem;
    height: 10.344rem;
    position: relative;
    border-radius: var(--br-xs);
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .depth6Frame13 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth7Frame013 {
    width: 10.375rem;
    height: 10.344rem;
    position: relative;
    border-radius: var(--br-xs);
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .depth6Frame22 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth7Frame014 {
    width: 10.375rem;
    height: 10.344rem;
    position: relative;
    border-radius: var(--br-xs);
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .depth6Frame32 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth4Frame13,
  .depth5Frame12 {
    align-self: stretch;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .depth5Frame12 {
    display: grid;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 11rem 0 0;
    grid-template-columns: repeat(4, minmax(124px, 1fr));
  }
  .depth4Frame13 {
    flex-direction: column;
    padding: var(--padding-base);
    z-index: 3;
  }
  .depth2Frame1,
  .depth3Frame1,
  .depth4Frame13 {
    display: flex;
    align-items: flex-start;
  }
  .depth3Frame1 {
    flex: 1;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 36.875rem;
    max-width: 60rem;
  }
  .depth2Frame1 {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: var(--padding-xl) var(--padding-5xl) 1.187rem;
    box-sizing: border-box;
    gap: var(--gap-9xs);
    max-width: 100%;
  }
  .about {
    text-decoration: none;
    align-self: stretch;
    position: relative;
    line-height: 1.5rem;
    color: inherit;
  }
  .depth6Frame07 {
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 10rem;
  }
  .docs {
    align-self: stretch;
    position: relative;
    line-height: 1.5rem;
  }
  .depth6Frame14 {
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 10rem;
  }
  .help {
    align-self: stretch;
    position: relative;
    line-height: 1.5rem;
  }
  .depth6Frame23 {
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 10rem;
  }
  .api {
    align-self: stretch;
    position: relative;
    line-height: 1.5rem;
  }
  .depth6Frame33 {
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 10rem;
  }
  .stats {
    align-self: stretch;
    position: relative;
    line-height: 1.5rem;
  }
  .depth6Frame42 {
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 10rem;
  }
  .terms {
    align-self: stretch;
    position: relative;
    line-height: 1.5rem;
  }
  .depth6Frame5 {
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 10rem;
  }
  .privacy {
    text-decoration: none;
    align-self: stretch;
    position: relative;
    line-height: 1.5rem;
    color: inherit;
  }
  .depth5Frame04,
  .depth6Frame6 {
    display: flex;
    align-items: center;
  }
  .depth6Frame6 {
    width: 10rem;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 10rem;
  }
  .depth5Frame04 {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 4.5rem;
    gap: var(--gap-xl);
  }
  .dao {
    align-self: stretch;
    position: relative;
    line-height: 1.5rem;
  }
  .depth3Frame0,
  .depth4Frame01,
  .depth5Frame13 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .depth5Frame13 {
    align-self: stretch;
    align-items: center;
  }
  .depth3Frame0,
  .depth4Frame01 {
    align-items: flex-start;
  }
  .depth4Frame01 {
    align-self: stretch;
    padding: var(--padding-21xl) var(--padding-xl);
    gap: 1.5rem;
  }
  .depth3Frame0 {
    width: 60rem;
    max-width: 60rem;
  }
  .depth1Frame0,
  .depth2Frame2 {
    align-self: stretch;
    max-width: 100%;
    font-family: var(--font-manrope);
  }
  .depth2Frame2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    text-align: center;
    font-size: var(--font-size-base);
    color: var(--color-lightsteelblue);
  }
  .depth1Frame0 {
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-white);
  }
  .depth0Frame0,
  .depth1Frame0,
  .galileoDesign {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth0Frame0 {
    align-self: stretch;
    background-color: var(--color-gray-300);
    min-height: 50rem;
    max-width: 100%;
  }
  .galileoDesign {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1025px) {
    .rewards {
      font-size: var(--font-size-7xl);
      line-height: 2rem;
    }
    .depth4Frame0 {
      padding-right: 11.313rem;
      box-sizing: border-box;
    }
    .depth5Frame01 {
      flex-wrap: wrap;
    }
    .depth5Frame02 {
      padding-right: 23.375rem;
      box-sizing: border-box;
    }
    .depth5Frame03 {
      flex-wrap: wrap;
    }
    .depth5Frame12 {
      padding-right: 5.5rem;
      box-sizing: border-box;
    }
    .depth3Frame1 {
      max-width: 100%;
    }
    .depth2Frame1 {
      flex-wrap: wrap;
    }
    .depth3Frame0 {
      max-width: 100%;
    }
  }
  @media screen and (max-width: 750px) {
    .depth5Frame12 {
      justify-content: center;
      grid-template-columns: repeat(2, minmax(124px, 216px));
    }
    .depth3Frame1 {
      min-width: 100%;
    }
  }
  @media screen and (max-width: 450px) {
    .rewards {
      font-size: var(--font-size-lgi);
      line-height: 1.5rem;
    }
    .depth4Frame0 {
      padding-right: 5.625rem;
      box-sizing: border-box;
    }
    .depth6Frame3,
    .depth6Frame4 {
      flex: 1;
    }
    .depth5Frame02,
    .depth5Frame12 {
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .depth5Frame12 {
      grid-template-columns: minmax(124px, 1fr);
    }
  }