.guilds {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 2.5rem;
  font-weight: 700;
  font-family: inherit;
}
.depth4Frame0,
.depth5Frame0 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth5Frame0 {
  width: 18rem;
  flex-direction: column;
  min-width: 18rem;
}
.depth4Frame0 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-base) 41rem var(--padding-base) var(--padding-base);
  gap: var(--gap-xs);
}
.searchGuilds {
  position: relative;
  line-height: 1.5rem;
  white-space: pre-wrap;
  display: inline-block;
  min-width: 6.438rem;
}
.depth7Frame0 {
  flex: 1;
  border-radius: var(--br-xs) 0 0 var(--br-xs);
  background-color: var(--color-gray-100);
  border-top: 1px solid var(--color-darkslategray-100);
  border-bottom: 1px solid var(--color-darkslategray-100);
  border-left: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-base);
  min-width: 6.438rem;
  white-space: nowrap;
  max-width: 100%;
}
.depth9Frame0,
.vector0 {
  position: absolute;
  top: 0;
  left: 0;
}
.vector0 {
  width: 100%;
  height: 100%;
}
.depth9Frame0 {
  width: 1.25rem;
  height: 1.25rem;
}
.depth8Frame0 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth7Frame1 {
  width: 2.5rem;
  border-radius: 0 var(--br-xs) var(--br-xs) 0;
  background-color: var(--color-gray-100);
  border-top: 1px solid var(--color-darkslategray-100);
  border-right: 1px solid var(--color-darkslategray-100);
  border-bottom: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-mini) var(--padding-sm) 0;
}
.depth6Frame0 {
  align-self: stretch;
  border-radius: var(--br-xs);
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
  row-gap: 20px;
}
.depth4Frame1,
.depth5Frame01,
.depth6Frame0 {
  display: flex;
  justify-content: flex-start;
}
.depth5Frame01 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 10rem;
  max-width: 100%;
}
.depth4Frame1 {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  max-width: 30rem;
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
}
.depth5Frame02 {
  flex-wrap: wrap;
  gap: var(--gap-xs);
}
.depth4Frame2,
.depth5Frame02,
.depth5Frame1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth4Frame2 {
  flex-direction: column;
  padding: var(--padding-base);
  gap: var(--gap-xs);
}
.depth8Frame01,
.vector01 {
  position: absolute;
  top: 0;
  left: 0;
}
.vector01 {
  width: 100%;
  height: 100%;
}
.depth8Frame01 {
  width: 0.438rem;
  height: 0.75rem;
}
.depth7Frame01 {
  width: 1.125rem;
  height: 1.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth6Frame01 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth5Frame03 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs);
}
.b {
  position: relative;
  line-height: 1.313rem;
  display: inline-block;
  min-width: 0.438rem;
}
.depth5Frame11 {
  width: 2.5rem;
  border-radius: var(--br-xl);
  background-color: #293038;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs-5) var(--padding-base);
  box-sizing: border-box;
}
.div {
  position: relative;
  line-height: 1.313rem;
  display: inline-block;
  min-width: 0.5rem;
}
.depth5Frame2 {
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs-5) var(--padding-base);
}
.div1 {
  position: relative;
  line-height: 1.313rem;
  display: inline-block;
  min-width: 0.5rem;
}
.depth5Frame3 {
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs-5) var(--padding-base);
}
.div2 {
  position: relative;
  line-height: 1.313rem;
  display: inline-block;
  min-width: 0.563rem;
}
.depth5Frame4 {
  width: 2.5rem;
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs-5) var(--padding-mini);
  box-sizing: border-box;
}
.div3 {
  position: relative;
  line-height: 1.313rem;
  display: inline-block;
  min-width: 0.563rem;
}
.depth5Frame5 {
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs-5) var(--padding-mini) var(--padding-3xs-5)
    var(--padding-base);
}
.depth8Frame02,
.vector02 {
  position: absolute;
  top: 0;
  left: 0;
}
.vector02 {
  width: 100%;
  height: 100%;
}
.depth8Frame02 {
  width: 0.438rem;
  height: 0.75rem;
}
.depth7Frame02 {
  width: 1.125rem;
  height: 1.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth6Frame02 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth4Frame3,
.depth5Frame6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs);
}
.depth4Frame3 {
  align-self: stretch;
  padding: var(--padding-base) var(--padding-xl);
  row-gap: 20px;
  font-size: var(--font-size-sm);
}
.depth3Frame0 {
  width: 60rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 60rem;
}
.depth1Frame0,
.depth2Frame1 {
  align-self: stretch;
  max-width: 100%;
}
.depth2Frame1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xl);
  box-sizing: border-box;
}
.depth1Frame0 {
  text-align: left;
  font-size: 2rem;
  color: var(--color-white);
  font-family: var(--font-manrope);
}
.depth0Frame0,
.depth1Frame0,
.guildsPage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth0Frame0 {
  align-self: stretch;
  background-color: #121417;
  min-height: 50rem;
  max-width: 100%;
}
.guildsPage {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1025px) {
  .guilds {
    font-size: 1.625rem;
    line-height: 2rem;
  }
  .depth4Frame0 {
    padding-right: 20.5rem;
    box-sizing: border-box;
  }
  .depth3Frame0 {
    max-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .depth4Frame0 {
    padding-right: 10.25rem;
    box-sizing: border-box;
  }
  .depth4Frame1 {
    max-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .guilds {
    font-size: 1.188rem;
    line-height: 1.5rem;
  }
  .depth4Frame3,
  .depth6Frame0 {
    flex-wrap: wrap;
  }
  .depth4Frame3 {
    justify-content: flex-start;
  }
}
