@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-manrope: Manrope;

  /* font sizes */
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-13xl: 2rem;
  --font-size-lgi: 1.188rem;
  --font-size-7xl: 1.625rem;
  --font-size-3xl: 1.375rem;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #1c2126;
  --color-gray-200: #121417;
  --color-darkslategray-100: #3b4a54;
  --color-darkslategray-200: #293038;
  --color-darkgray-100: #9eabb8;
  --color-darkgray-200: #9cabba;
  --color-dodgerblue: #1a80e6;
  --color-gainsboro: #e6e8eb;

  /* Gaps */
  --gap-0: 0rem;
  --gap-base: 1rem;
  --gap-9xs: 0.25rem;
  --gap-xl: 1.25rem;
  --gap-xs: 0.75rem;
  --gap-13xl: 2rem;
  --gap-5xs: 0.5rem;

  /* Paddings */
  --padding-xl: 1.25rem;
  --padding-lgi: 1.187rem;
  --padding-base: 1rem;
  --padding-59xl: 4.875rem;
  --padding-7xs-5: 0.343rem;
  --padding-5xs: 0.5rem;
  --padding-xs: 0.75rem;
  --padding-21xl: 2.5rem;
  --padding-2xs: 0.687rem;
  --padding-570xl: 36.812rem;
  --padding-128xl: 9.187rem;
  --padding-275xl: 18.375rem;
  --padding-3xs-5: 0.593rem;
  --padding-lg: 1.125rem;
  --padding-3xs: 0.625rem;
  --padding-mini: 0.937rem;
  --padding-764xl: 48.937rem;
  --padding-372xl: 24.437rem;
  --padding-742xl: 47.562rem;
  --padding-361xl: 23.75rem;
  --padding-10xs: 0.187rem;
  --padding-601xl: 38.75rem;
  --padding-136xl: 9.687rem;
  --padding-291xl: 19.375rem;
  --padding-6xl-5: 1.593rem;
  --padding-27xl: 2.875rem;
  --padding-smi: 0.812rem;
  --padding-2xl: 1.312rem;
  --padding-12xs: 0.062rem;
  --padding-762xl: 48.812rem;
  --padding-176xl: 12.187rem;
  --padding-371xl: 24.375rem;
  --padding-9xs: 0.25rem;
  --padding-42xl: 3.812rem;

  /* Border radiuses */
  --br-xs: 12px;
  --br-11xs: 2px;
  --br-xl: 20px;
  --br-9xs: 4px;
  --br-5xs: 8px;
}