.rankSMaster {
    align-self: stretch;
    position: relative;
    line-height: 1.313rem;
  }
  .depth7Frame0 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .xp {
    align-self: stretch;
    position: relative;
    line-height: 1.25rem;
  }
  .depth7Frame1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-base);
    color: var(--color-white);
  }
  .youHaveMastered {
    align-self: stretch;
    position: relative;
    line-height: 1.313rem;
  }
  .depth6Frame0,
  .depth7Frame2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth7Frame2 {
    align-self: stretch;
  }
  .depth6Frame0 {
    width: 36.688rem;
    padding: 0 0 var(--padding-76xl);
    box-sizing: border-box;
    gap: var(--gap-9xs);
    min-width: 36.688rem;
    min-height: 10.313rem;
    max-width: 100%;
  }
  .depth6Frame1 {
    height: 10.313rem;
    width: 19.313rem;
    position: relative;
    border-radius: var(--br-xs);
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .depth4Frame1,
  .depth5Frame0 {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    padding: var(--padding-base);
    box-sizing: border-box;
    max-width: 100%;
  }
  .depth5Frame0 {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border-radius: var(--br-xs);
    background-color: var(--color-gray-100);
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 20px;
    gap: var(--gap-0);
  }
  .depth4Frame1 {
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-darkgray-200);
    font-family: var(--font-manrope);
  }
  @media screen and (max-width: 750px) {
    .depth6Frame0,
    .depth6Frame1 {
      flex: 1;
    }
    .depth5Frame0 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 450px) {
    .depth6Frame0 {
      min-width: 100%;
    }
  }