.alearnEarnAnd,
.welcomeToSauco {
  align-self: stretch;
  position: relative;
}
.welcomeToSauco {
  margin: 0;
  font-size: inherit;
  letter-spacing: -2px;
  line-height: 3.75rem;
  font-weight: 800;
  font-family: inherit;
  white-space: pre-wrap;
}
.alearnEarnAnd {
  font-size: var(--font-size-base);
  line-height: 1.5rem;
}
.welcomeMessage {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.depth11Frame0,
.vector0 {
  position: absolute;
  top: 0;
  left: 0;
}
.vector0 {
  width: 100%;
  height: 100%;
}
.depth11Frame0 {
  width: 1rem;
  height: 1rem;
}
.depth10Frame0 {
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth9Frame0 {
  width: 2.25rem;
  border-radius: var(--br-xs) 0 0 var(--br-xs);
  background-color: var(--color-gray-100);
  border-top: 1px solid var(--color-darkslategray-200);
  border-bottom: 1px solid var(--color-darkslategray-200);
  border-left: 1px solid var(--color-darkslategray-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) 0 var(--padding-xl) var(--padding-mini);
}
.enterYourEmail {
  position: relative;
  line-height: 1.5rem;
  white-space: pre-wrap;
}
.depth9Frame1,
.getEarlyAccess {
  overflow: hidden;
  white-space: nowrap;
}
.depth9Frame1 {
  flex: 1;
  background-color: var(--color-gray-100);
  border-top: 1px solid var(--color-darkslategray-200);
  border-bottom: 1px solid var(--color-darkslategray-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-5xs);
  min-width: 10.75rem;
}
.getEarlyAccess {
  align-self: stretch;
  position: relative;
  line-height: 1.5rem;
  text-overflow: ellipsis;
}
.depth11Frame01 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.depth10Frame01,
.depth9Frame2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.depth10Frame01 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--color-dodgerblue);
  overflow: hidden;
  padding: var(--padding-xs) 1.312rem;
  min-width: 5.25rem;
  max-width: 30rem;
}
.depth9Frame2 {
  width: 11.188rem;
  border-radius: 0 var(--br-xs) var(--br-xs) 0;
  background-color: var(--color-gray-100);
  border-top: 1px solid var(--color-darkslategray-200);
  border-right: 1px solid var(--color-darkslategray-200);
  border-bottom: 1px solid var(--color-darkslategray-200);
  padding: var(--padding-7xs) var(--padding-6xs) var(--padding-7xs) 0;
  text-align: center;
  color: var(--color-white);
}
.depth7Frame1,
.depth8Frame0 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth8Frame0 {
  align-self: stretch;
  border-radius: var(--br-xs);
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
}
.depth7Frame1 {
  width: 30rem;
  flex-direction: column;
  min-width: 10rem;
  max-width: 30rem;
}
.depth6Frame0,
.depth6Frame0Wrapper,
.depth7Frame1Wrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.depth7Frame1Wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkgray-100);
}
.depth6Frame0,
.depth6Frame0Wrapper {
  justify-content: flex-start;
}
.depth6Frame0 {
  flex: 1;
  border-radius: var(--br-xs);
  overflow: hidden;
  flex-direction: column;
  padding: 9.375rem 0 7.375rem var(--padding-13xl);
  gap: 3.5rem;
  background-image: url(/depth-6-frame-0@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 30rem;
}
.depth6Frame0Wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-base) var(--padding-base);
  text-align: center;
  font-size: var(--font-size-29xl);
}
.guilds {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 1.75rem;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.guildsWrapper {
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
}
.depth4Frame2,
.depth5Frame0,
.frameParent,
.guildsWrapper {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth5Frame0 {
  display: grid;
  flex-direction: row;
  gap: var(--gap-xs);
  grid-template-columns: repeat(4, minmax(167px, 1fr));
}
.depth4Frame2,
.frameParent {
  display: flex;
  flex-direction: column;
}
.depth4Frame2 {
  padding: var(--padding-base);
}
.frameParent {
  gap: var(--gap-xs);
  max-width: 100%;
}
.howItWorks {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 1.75rem;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.howItWorksWrapper {
  flex-direction: row;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}
.depth4Frame4,
.depth5Frame01,
.howItWorksWrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.depth5Frame01 {
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-xs);
}
.depth4Frame4 {
  flex-direction: column;
  padding: var(--padding-base);
  box-sizing: border-box;
}
.learnMore {
  text-decoration: none;
  align-self: stretch;
  position: relative;
  line-height: 1.313rem;
  font-weight: 700;
  color: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.depth5Frame02,
.depth6Frame01 {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.depth6Frame01 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}
.depth5Frame02 {
  width: 6.75rem;
  border-radius: var(--br-xs);
  background-color: var(--color-darkslategray-300);
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-3xs-5) var(--padding-base);
  box-sizing: border-box;
  min-width: 5.25rem;
  max-width: 30rem;
}
.depth4Frame4Parent,
.depth4Frame5,
.frameGroup {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.depth4Frame5 {
  flex-direction: row;
  justify-content: flex-end;
  padding: var(--padding-xs) var(--padding-base);
}
.depth4Frame4Parent,
.frameGroup {
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.depth4Frame4Parent {
  text-align: center;
  font-size: var(--font-size-sm);
}
.frameGroup {
  gap: var(--gap-xs);
}
.depth3Frame0,
.depth3Frame0Wrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.depth3Frame0 {
  width: 60rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-base) 0 0;
  gap: var(--gap-xl);
  max-width: 60rem;
}
.depth3Frame0Wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-manrope);
}
.depth0Frame0,
.homePage {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth0Frame0 {
  flex: 1;
  background-color: var(--color-gray-200);
  flex-direction: column;
  padding: 0 0 1.187rem;
  box-sizing: border-box;
  gap: var(--gap-xl);
  min-height: 50rem;
  max-width: 100%;
}
.homePage {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1025px) {
  .welcomeToSauco {
    font-size: var(--font-size-19xl);
    line-height: 3rem;
  }
  .depth5Frame0 {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(167px, 290px));
  }
  .depth3Frame0 {
    max-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .depth10Frame01,
  .depth7Frame1 {
    max-width: 100%;
  }
  .depth6Frame0 {
    padding-top: 6.063rem;
    padding-bottom: 4.813rem;
    box-sizing: border-box;
  }
  .depth5Frame02 {
    max-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .welcomeToSauco {
    font-size: var(--font-size-10xl);
    line-height: 2.25rem;
  }
  .depth6Frame0 {
    gap: 1.75rem;
  }
  .guilds {
    font-size: var(--font-size-lg);
    line-height: 1.375rem;
  }
  .depth5Frame0 {
    grid-template-columns: minmax(167px, 1fr);
  }
  .howItWorks {
    font-size: var(--font-size-lg);
    line-height: 1.375rem;
  }
}