.depth9Frame0,
.stepIconPair {
  position: absolute;
  top: 0;
  left: 0;
}
.stepIconPair {
  width: 100%;
  height: 100%;
}
.depth9Frame0 {
  width: 1.5rem;
  height: 0.938rem;
}
.depth8Frame0 {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth7Frame0 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.step1 {
  align-self: stretch;
  position: relative;
  line-height: 1.25rem;
}
.depth8Frame01 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.joinAGuild {
  align-self: stretch;
  position: relative;
  line-height: 1.313rem;
}
.depth8Frame1 {
  align-self: stretch;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
}
.depth6Frame0,
.depth7Frame1,
.depth8Frame1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth7Frame1 {
  align-self: stretch;
  gap: var(--gap-9xs);
}
.depth6Frame0 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  padding: var(--padding-mini) var(--padding-base);
  gap: var(--gap-xs);
  min-width: 21.438rem;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-manrope);
}
@media screen and (max-width: 450px) {
  .depth6Frame0 {
    min-width: 100%;
  }
}