@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-manrope: Manrope;

  /* font sizes */
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-3xl: 1.375rem;
  --font-size-lg: 1.125rem;
  --font-size-13xl: 2rem;
  --font-size-lgi: 1.188rem;
  --font-size-7xl: 1.625rem;
  --font-size-5xl: 1.5rem;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #1a2633;
  --color-gray-200: #1c2126;
  --color-gray-300: #121a21;
  --color-gray-400: #121417;
  --color-darkslategray-100: #364d63;
  --color-darkslategray-200: #3b4a54;
  --color-darkslategray-300: #263645;
  --color-gainsboro: #e6e8eb;
  --color-darkgray: #9cabba;
  --color-dodgerblue: #1a80e6;
  --color-lightsteelblue: #94adc7;
  --color-cornflowerblue: #338ce6;

  /* Gaps */
  --gap-xs: 0.75rem;
  --gap-0: 0rem;
  --gap-13xl: 2rem;
  --gap-base: 1rem;
  --gap-xl: 1.25rem;
  --gap-9xs: 0.25rem;
  --gap-5xs: 0.5rem;

  /* Paddings */
  --padding-xl: 1.25rem;
  --padding-xs: 0.75rem;
  --padding-base: 1rem;
  --padding-6xl-5: 1.593rem;
  --padding-smi: 0.812rem;
  --padding-60xl: 4.937rem;
  --padding-21xl: 2.5rem;
  --padding-2xs: 0.687rem;
  --padding-601xl: 38.75rem;
  --padding-136xl: 9.687rem;
  --padding-291xl: 19.375rem;
  --padding-3xs-5: 0.593rem;
  --padding-184xl: 12.687rem;
  --padding-5xl: 1.5rem;
  --padding-5xs: 0.5rem;
  --padding-mini: 0.937rem;
  --padding-55xl: 4.625rem;
  --padding-mid: 1.062rem;
  --padding-45xl: 4rem;
  --padding-191xl: 13.125rem;
  --padding-188xl: 12.937rem;
  --padding-164xl: 11.437rem;
  --padding-163xl: 11.375rem;
  --padding-178xl: 12.312rem;
  --padding-149xl: 10.5rem;
  --padding-95xl: 7.125rem;
  --padding-419xl: 27.375rem;
  --padding-90xl: 6.812rem;
  --padding-200xl: 13.687rem;
  --padding-3xs: 0.625rem;
  --padding-9xs: 0.25rem;
  --padding-39xl: 3.625rem;
  --padding-34xl: 3.312rem;
  --padding-6xs: 0.437rem;
  --padding-578xl: 37.312rem;
  --padding-130xl: 9.312rem;
  --padding-279xl: 18.625rem;
  --padding-lg: 1.125rem;

  /* Border radiuses */
  --br-xs: 12px;
  --br-5xs: 8px;
  --br-9xs: 4px;
  --br-xl: 20px;
}