.vector0,
.vector1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.vector1 {
  z-index: 1;
}
.depth6Frame0,
.depth6Frame1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.375rem;
  height: 0.625rem;
}
.depth6Frame1 {
  width: 0.875rem;
  height: 0.875rem;
}
.depth5Frame0 {
  width: 1rem;
  height: 1rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth4Frame0 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.decentralizedAutonomousOrgan {
  position: relative;
  line-height: 1.438rem;
  white-space: nowrap;
}
.depth3Frame0,
.depth4Frame1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.depth3Frame0 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
}
.home {
  text-decoration: none;
  position: relative;
  line-height: 1.313rem;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 2.438rem;
}
.depth5Frame01 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.proposals {
  text-decoration: none;
  position: relative;
  line-height: 1.313rem;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 4.125rem;
}
.depth5Frame1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.members {
  text-decoration: none;
  position: relative;
  line-height: 1.313rem;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 3.875rem;
}
.depth5Frame2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.docs {
  text-decoration: none;
  position: relative;
  line-height: 1.313rem;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 2.125rem;
}
.depth5Frame3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth4Frame01 {
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs-5) 0;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-manrope);
}
.newProposal {
  text-decoration: none;
  align-self: stretch;
  position: relative;
  line-height: 1.313rem;
  font-weight: 700;
  color: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.depth4Frame11,
.depth5Frame02 {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.depth5Frame02 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}
.depth4Frame11 {
  width: 7.75rem;
  border-radius: var(--br-xs);
  background-color: var(--color-darkslategray-200);
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-3xs-5) var(--padding-base);
  box-sizing: border-box;
  min-width: 5.25rem;
  max-width: 30rem;
}
.depth4Frame2 {
  height: 2.5rem;
  width: 2.5rem;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 2.5rem;
}
.depth2Frame0,
.depth3Frame1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.depth3Frame1 {
  width: 50.875rem;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 0 var(--padding-258xl);
  gap: var(--gap-13xl);
  text-align: center;
  font-size: var(--font-size-sm);
}
.depth2Frame0 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-gainsboro);
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-21xl) var(--padding-2xs);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-0);
  row-gap: 20px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-manrope);
}
@media screen and (max-width: 1025px) {
  .depth4Frame01 {
    display: none;
  }
  .depth3Frame1 {
    width: 31.563rem;
    padding-left: var(--padding-119xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .depth3Frame1 {
    gap: var(--gap-base);
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .depth4Frame11 {
    max-width: 100%;
  }
}