.depth7Frame0 {
    height: 2.5rem;
    width: 2.5rem;
    position: relative;
    border-radius: var(--br-xl);
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    min-height: 2.5rem;
  }
  .acmeInc {
    text-decoration: none;
    position: relative;
    line-height: 1.5rem;
    font-weight: 500;
    color: inherit;
    display: inline-block;
    min-width: 4.313rem;
  }
  .depth6Frame0,
  .depth7Frame1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth7Frame1 {
    flex-direction: column;
    padding: 0 0 var(--padding-base);
  }
  .depth6Frame0 {
    align-self: stretch;
    flex-direction: row;
    padding: 0 10.437rem 0 0;
    gap: var(--gap-xs);
  }
  .depth5Frame0 {
    align-self: stretch;
    gap: var(--gap-base);
  }
  .depth3Frame0,
  .depth4Frame0,
  .depth5Frame0 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth4Frame0 {
    align-self: stretch;
    flex: 1;
    background-color: var(--color-gray-200);
    padding: var(--padding-base);
    box-sizing: border-box;
    min-height: 43.75rem;
  }
  .depth3Frame0 {
    height: 43.75rem;
    width: 20rem;
    overflow: hidden;
    flex-shrink: 0;
    min-width: 20rem;
  }
  .proposals {
    text-decoration: none;
    position: relative;
    line-height: 1.5rem;
    font-weight: 500;
    color: inherit;
    display: inline-block;
    min-width: 4.688rem;
  }
  .depth5Frame01 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .div {
    position: relative;
    line-height: 1.5rem;
    font-weight: 500;
    display: inline-block;
    min-width: 0.438rem;
  }
  .depth5Frame1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .viewProposal {
    text-decoration: none;
    position: relative;
    line-height: 1.5rem;
    font-weight: 500;
    color: inherit;
    display: inline-block;
    min-width: 6.5rem;
  }
  .depth4Frame01,
  .depth5Frame2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: var(--color-white);
  }
  .depth4Frame01 {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    padding: var(--padding-base) 43.125rem var(--padding-base) var(--padding-base);
    gap: var(--gap-5xs);
    color: var(--color-lightsteelblue);
  }
  .rebrandingAcme {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    line-height: 2.5rem;
    font-weight: 700;
    font-family: inherit;
  }
  .depth4Frame1,
  .depth5Frame02 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth5Frame02 {
    width: 18rem;
    flex-direction: column;
    min-width: 18rem;
  }
  .depth4Frame1 {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    padding: var(--padding-base) var(--padding-585xl) var(--padding-base)
      var(--padding-base);
    gap: var(--gap-xs);
    font-size: var(--font-size-13xl);
  }
  .summary {
    align-self: stretch;
    position: relative;
    line-height: 1.438rem;
  }
  .depth4Frame2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-base) var(--padding-base) var(--padding-5xs);
    font-size: var(--font-size-lg);
  }
  .weProposeTo {
    align-self: stretch;
    position: relative;
    line-height: 1.5rem;
  }
  .depth4Frame3 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) var(--padding-base) var(--padding-xs);
  }
  .options {
    align-self: stretch;
    position: relative;
    line-height: 1.438rem;
  }
  .depth4Frame4 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-base) var(--padding-base) var(--padding-5xs);
    font-size: var(--font-size-lg);
  }
  .approve {
    position: relative;
    line-height: 1.313rem;
    font-weight: 500;
    display: inline-block;
    min-width: 3.438rem;
  }
  .depth5Frame03 {
    flex: 1;
    border-radius: var(--br-xs);
    border: 1px solid var(--color-darkslategray-100);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs) var(--padding-mini);
    min-width: 2.188rem;
  }
  .reject {
    position: relative;
    line-height: 1.313rem;
    font-weight: 500;
    display: inline-block;
    min-width: 2.688rem;
  }
  .depth4Frame5,
  .depth5Frame11 {
    display: flex;
    flex-direction: row;
  }
  .depth5Frame11 {
    width: 4.75rem;
    border-radius: var(--br-xs);
    border: 1px solid var(--color-darkslategray-100);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs) var(--padding-mini);
  }
  .depth4Frame5 {
    align-self: stretch;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-base) 44.875rem var(--padding-base) var(--padding-base);
    gap: 0.75rem 0.625rem;
    font-size: var(--font-size-sm);
  }
  .cancel {
    align-self: stretch;
    position: relative;
    line-height: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .depth6Frame01,
  .depth7Frame01 {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .depth6Frame01 {
    border-radius: var(--br-xs);
    background-color: var(--color-darkslategray-200);
    flex-direction: row;
    justify-content: center;
    padding: var(--padding-xs) var(--padding-xl);
    box-sizing: border-box;
    min-width: 5.25rem;
    max-width: 30rem;
  }
  .vote {
    align-self: stretch;
    position: relative;
    line-height: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .depth7Frame02 {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .depth5Frame04,
  .depth6Frame1 {
    flex-direction: row;
    box-sizing: border-box;
  }
  .depth6Frame1 {
    flex: 0.8182;
    border-radius: var(--br-xs);
    background-color: var(--color-cornflowerblue);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-xs) var(--padding-5xl);
    min-width: 5.25rem;
    max-width: 30rem;
  }
  .depth5Frame04 {
    flex: 1;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: var(--padding-xs) var(--padding-base) var(--padding-xs) 44rem;
    gap: 0.75rem 0.625rem;
    max-width: 100%;
  }
  .depth3Frame1,
  .depth4Frame6,
  .depth5Frame04 {
    display: flex;
    align-items: flex-start;
  }
  .depth4Frame6 {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    text-align: center;
  }
  .depth3Frame1 {
    flex: 1;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0 13.625rem;
    box-sizing: border-box;
    min-width: 36.875rem;
    max-width: 60rem;
  }
  .depth1Frame0,
  .depth2Frame1 {
    align-self: stretch;
    max-width: 100%;
  }
  .depth2Frame1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding-xl) var(--padding-5xl);
    box-sizing: border-box;
    gap: var(--gap-9xs);
  }
  .depth1Frame0 {
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-white);
    font-family: var(--font-manrope);
  }
  .depth0Frame0,
  .depth1Frame0,
  .galileoDesign5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth0Frame0 {
    align-self: stretch;
    background-color: var(--color-gray-200);
    min-height: 50rem;
    max-width: 100%;
  }
  .galileoDesign5 {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1125px) {
    .depth3Frame0 {
      flex: 1;
    }
    .depth2Frame1 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1025px) {
    .depth4Frame01 {
      padding-right: 21.563rem;
      box-sizing: border-box;
    }
    .rebrandingAcme {
      font-size: var(--font-size-7xl);
      line-height: 2rem;
    }
    .depth4Frame1 {
      padding-right: var(--padding-283xl);
      box-sizing: border-box;
    }
    .depth4Frame5 {
      padding-right: 22.438rem;
      box-sizing: border-box;
    }
    .depth5Frame04 {
      padding-left: 22rem;
      box-sizing: border-box;
    }
    .depth3Frame1 {
      max-width: 100%;
    }
  }
  @media screen and (max-width: 750px) {
    .depth6Frame0 {
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .depth4Frame01 {
      padding-right: 10.75rem;
      box-sizing: border-box;
    }
    .rebrandingAcme {
      font-size: var(--font-size-lgi);
      line-height: 1.5rem;
    }
    .depth4Frame1,
    .depth4Frame5 {
      padding-right: var(--padding-132xl);
      box-sizing: border-box;
    }
    .depth4Frame5 {
      padding-right: var(--padding-160xl);
    }
    .depth6Frame01,
    .depth6Frame1 {
      max-width: 100%;
    }
    .depth5Frame04 {
      padding-left: var(--padding-157xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .depth6Frame01,
    .depth6Frame1 {
      max-width: 100%;
    }
    .depth3Frame1 {
      padding-bottom: 8.875rem;
      box-sizing: border-box;
      min-width: 100%;
    }
  }