.votingStarts {
    align-self: stretch;
    position: relative;
    line-height: 1.313rem;
  }
  .depth7Frame0 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .june12023 {
    align-self: stretch;
    position: relative;
    line-height: 1.313rem;
  }
  .depth6Frame0,
  .depth7Frame1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth7Frame1 {
    align-self: stretch;
    color: var(--color-white);
  }
  .depth6Frame0 {
    flex: 1;
    border-top: 1px solid var(--color-gainsboro);
    box-sizing: border-box;
    padding: var(--padding-mini) var(--padding-5xs) var(--padding-base) 0;
    gap: var(--gap-9xs);
    min-width: 18.875rem;
    max-width: 100%;
  }
  .votingEnds {
    align-self: stretch;
    position: relative;
    line-height: 1.313rem;
  }
  .depth7Frame01 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .june152023 {
    align-self: stretch;
    position: relative;
    line-height: 1.313rem;
  }
  .depth5Frame0,
  .depth6Frame1,
  .depth7Frame11 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth7Frame11 {
    align-self: stretch;
    flex-direction: column;
    color: var(--color-white);
  }
  .depth5Frame0,
  .depth6Frame1 {
    max-width: 100%;
  }
  .depth6Frame1 {
    flex: 1;
    border-top: 1px solid var(--color-gainsboro);
    box-sizing: border-box;
    flex-direction: column;
    padding: var(--padding-mini) 0 var(--padding-base) var(--padding-5xs);
    gap: var(--gap-9xs);
    min-width: 18.875rem;
  }
  .depth5Frame0 {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-darkgray-200);
    font-family: var(--font-manrope);
  }