.depth5Frame0 {
    height: 2.5rem;
    width: 2.5rem;
    position: relative;
    border-radius: var(--br-xl);
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .alice {
    position: relative;
    line-height: 1.313rem;
    display: inline-block;
    min-width: 2.125rem;
  }
  .depth7Frame0 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .daysAgo {
    position: relative;
    line-height: 1.313rem;
    display: inline-block;
    min-width: 4.313rem;
  }
  .depth6Frame0,
  .depth7Frame1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth7Frame1 {
    flex-direction: column;
    color: var(--color-darkgray-200);
  }
  .depth6Frame0 {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-742xl) 0 0;
    gap: var(--gap-xs);
  }
  .imInFavor {
    align-self: stretch;
    position: relative;
    line-height: 1.313rem;
  }
  .depth6Frame1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth10Frame0,
  .vector0 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .vector0 {
    width: 100%;
    height: 100%;
  }
  .depth10Frame0 {
    width: 1.125rem;
    height: 1rem;
  }
  .depth9Frame0 {
    width: 1.25rem;
    height: 1.25rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .depth8Frame0 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .noVotesTime {
    position: relative;
    line-height: 1.313rem;
    display: inline-block;
    min-width: 0.563rem;
  }
  .depth7Frame01,
  .depth8Frame1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth7Frame01 {
    flex-direction: row;
    align-items: center;
    gap: var(--gap-5xs);
  }
  .depth10Frame01,
  .vector01 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .vector01 {
    width: 100%;
    height: 100%;
  }
  .depth10Frame01 {
    width: 1.125rem;
    height: 1rem;
  }
  .depth9Frame01 {
    width: 1.25rem;
    height: 1.25rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .depth6Frame2,
  .depth7Frame11,
  .depth8Frame01 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth6Frame2,
  .depth7Frame11 {
    flex-direction: row;
    align-items: center;
  }
  .depth6Frame2 {
    align-self: stretch;
    justify-content: space-between;
    padding: var(--padding-5xs) var(--padding-764xl) 0 0;
    gap: var(--gap-xl);
    color: var(--color-darkgray-200);
  }
  .depth4Frame9,
  .depth5Frame1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .depth5Frame1 {
    flex: 1;
    flex-direction: column;
    min-width: 35.563rem;
  }
  .depth4Frame9 {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    padding: var(--padding-base);
    box-sizing: border-box;
    gap: var(--gap-xs);
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-white);
    font-family: var(--font-manrope);
  }
  @media screen and (max-width: 1000px) {
    .depth6Frame0 {
      flex-wrap: wrap;
      padding-right: var(--padding-361xl);
      box-sizing: border-box;
    }
    .depth6Frame2 {
      padding-right: var(--padding-372xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 725px) {
    .depth5Frame1 {
      min-width: 100%;
    }
  }
  @media screen and (max-width: 450px) {
    .depth6Frame0,
    .depth6Frame2 {
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
  }