.missions {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    line-height: 2.5rem;
    font-weight: 700;
    font-family: inherit;
  }
  .depth6Frame0 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .embarkOnLearning {
    position: relative;
    line-height: 1.313rem;
  }
  .depth4Frame0,
  .depth5Frame0,
  .depth6Frame1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth6Frame1 {
    flex-direction: column;
    font-size: var(--font-size-sm);
    color: var(--color-darkgray-100);
  }
  .depth4Frame0,
  .depth5Frame0 {
    max-width: 100%;
    gap: var(--gap-xs);
  }
  .depth5Frame0 {
    width: 23.063rem;
    flex-direction: column;
    min-width: 18rem;
  }
  .depth4Frame0 {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    padding: var(--padding-base) 35.937rem var(--padding-base) var(--padding-base);
    box-sizing: border-box;
    font-size: var(--font-size-13xl);
  }
  .currentMission {
    align-self: stretch;
    position: relative;
    line-height: 1.438rem;
  }
  .depth4Frame1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-base) var(--padding-base) var(--padding-5xs);
  }
  .depth6Frame01 {
    height: 16rem;
    flex: 1;
    position: relative;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    min-width: 18.875rem;
  }
  .div {
    align-self: stretch;
    position: relative;
    line-height: 1.313rem;
  }
  .depth7Frame0 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .week1Introduction {
    align-self: stretch;
    position: relative;
    line-height: 1.438rem;
  }
  .depth7Frame1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-lg);
    color: var(--color-white);
  }
  .learnHowTo {
    position: relative;
    line-height: 1.5rem;
  }
  .depth8Frame0 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .continue {
    align-self: stretch;
    position: relative;
    line-height: 1.313rem;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .depth9Frame0 {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .depth7Frame2,
  .depth8Frame1 {
    display: flex;
    flex-direction: row;
  }
  .depth8Frame1 {
    width: 5.875rem;
    border-radius: var(--br-xs);
    background-color: var(--color-dodgerblue);
    overflow: hidden;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    padding: var(--padding-7xs-5) var(--padding-base);
    box-sizing: border-box;
    min-width: 5.25rem;
    max-width: 30rem;
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--color-white);
  }
  .depth7Frame2 {
    align-self: stretch;
    align-items: flex-end;
    justify-content: space-between;
    gap: var(--gap-xl);
    font-size: var(--font-size-base);
  }
  .depth4Frame2,
  .depth5Frame01,
  .depth6Frame11 {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .depth6Frame11 {
    flex: 0.931;
    flex-direction: column;
    justify-content: center;
    padding: var(--padding-base);
    box-sizing: border-box;
    gap: var(--gap-9xs);
    min-width: 18rem;
  }
  .depth4Frame2,
  .depth5Frame01 {
    align-self: stretch;
    justify-content: flex-start;
  }
  .depth5Frame01 {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border-radius: var(--br-xs);
    background-color: var(--color-gray-100);
    overflow: hidden;
    flex-direction: row;
    row-gap: 20px;
  }
  .depth4Frame2 {
    flex-direction: column;
    padding: var(--padding-base);
    box-sizing: border-box;
    font-size: var(--font-size-sm);
    color: var(--color-darkgray-100);
  }
  .upcomingMissions {
    align-self: stretch;
    position: relative;
    line-height: 1.438rem;
  }
  .depth3Frame0,
  .depth4Frame3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth4Frame3 {
    align-self: stretch;
    padding: var(--padding-base) var(--padding-base) var(--padding-5xs);
  }
  .depth3Frame0 {
    width: 60rem;
    overflow: hidden;
    flex-shrink: 0;
    max-width: 60rem;
  }
  .depth1Frame0,
  .depth2Frame1 {
    align-self: stretch;
    max-width: 100%;
  }
  .depth2Frame1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding-xl) var(--padding-xl) var(--padding-lgi);
    box-sizing: border-box;
  }
  .depth1Frame0 {
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-white);
    font-family: var(--font-manrope);
  }
  .depth0Frame0,
  .depth1Frame0,
  .missionsButton {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth0Frame0 {
    align-self: stretch;
    background-color: var(--color-gray-200);
    min-height: 50rem;
    max-width: 100%;
  }
  .missionsButton {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1000px) {
    .missions {
      font-size: var(--font-size-7xl);
      line-height: 2rem;
    }
    .depth4Frame0 {
      padding-right: 17.938rem;
      box-sizing: border-box;
    }
    .depth6Frame01,
    .depth6Frame11 {
      flex: 1;
    }
    .depth5Frame01 {
      flex-wrap: wrap;
    }
    .depth3Frame0 {
      max-width: 100%;
    }
  }
  @media screen and (max-width: 725px) {
    .depth4Frame0 {
      padding-right: 8.938rem;
      box-sizing: border-box;
    }
    .depth8Frame1 {
      max-width: 100%;
    }
    .depth7Frame2 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 450px) {
    .missions {
      font-size: var(--font-size-lgi);
      line-height: 1.5rem;
    }
  }