.communityGrantRound {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    letter-spacing: -1px;
    line-height: 2.813rem;
    font-weight: 800;
    font-family: inherit;
  }
  .depth6Frame0 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .thisProposalRequests {
    align-self: stretch;
    position: relative;
    line-height: 1.5rem;
  }
  .depth6Frame1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-base);
    color: var(--color-darkgray-200);
  }
  .depth4Frame0,
  .depth5Frame0 {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .depth5Frame0 {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-xs);
    min-width: 18rem;
  }
  .depth4Frame0 {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: var(--padding-base);
    box-sizing: border-box;
    font-size: 2.25rem;
  }
  .proposalStatus {
    align-self: stretch;
    position: relative;
    line-height: 1.438rem;
  }
  .depth4Frame1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-base) var(--padding-base) var(--padding-5xs);
    font-size: var(--font-size-lg);
  }
  .votingProgress {
    position: relative;
    line-height: 1.5rem;
    font-weight: 500;
    display: inline-block;
    min-width: 7.438rem;
  }
  .depth6Frame01 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .votingProgressValue {
    position: relative;
    line-height: 1.313rem;
    display: inline-block;
    min-width: 1.875rem;
  }
  .depth5Frame01,
  .depth6Frame11 {
    display: flex;
    align-items: flex-start;
  }
  .depth6Frame11 {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0 var(--padding-10xs);
    font-size: var(--font-size-sm);
  }
  .depth5Frame01 {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .depth5Frame1,
  .depth6Frame02 {
    border-radius: var(--br-9xs);
    max-width: 100%;
  }
  .depth6Frame02 {
    width: 46.375rem;
    flex: 1;
    background-color: var(--color-white);
  }
  .depth5Frame1 {
    align-self: stretch;
    height: 0.5rem;
    background-color: var(--color-darkslategray-100);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth4Frame2 {
    gap: var(--gap-xs);
  }
  .depth4Frame2,
  .depth4Frame3 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-base);
    box-sizing: border-box;
    max-width: 100%;
  }
  .votingResults {
    align-self: stretch;
    position: relative;
    line-height: 1.438rem;
  }
  .depth4Frame4 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-base) var(--padding-base) var(--padding-5xs);
    font-size: var(--font-size-lg);
  }
  .yes {
    position: relative;
    line-height: 1.5rem;
    font-weight: 500;
    display: inline-block;
    min-width: 1.625rem;
  }
  .depth6Frame03 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .div {
    position: relative;
    line-height: 1.313rem;
    display: inline-block;
    min-width: 1.875rem;
  }
  .depth5Frame02,
  .depth6Frame12 {
    display: flex;
    align-items: flex-start;
  }
  .depth6Frame12 {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0 var(--padding-10xs);
    font-size: var(--font-size-sm);
  }
  .depth5Frame02 {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .depth6Frame04 {
    width: 46.375rem;
    flex: 1;
    border-radius: var(--br-9xs);
    background-color: var(--color-white);
    max-width: 100%;
  }
  .depth4Frame5,
  .depth5Frame11 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .depth5Frame11 {
    height: 0.5rem;
    border-radius: var(--br-9xs);
    background-color: var(--color-darkslategray-100);
  }
  .depth4Frame5 {
    padding: var(--padding-base);
    box-sizing: border-box;
    gap: var(--gap-xs);
  }
  .no {
    position: relative;
    line-height: 1.5rem;
    font-weight: 500;
    display: inline-block;
    min-width: 1.313rem;
  }
  .depth6Frame05 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .div1 {
    position: relative;
    line-height: 1.313rem;
    display: inline-block;
    min-width: 1.688rem;
  }
  .depth5Frame03,
  .depth6Frame13 {
    display: flex;
    align-items: flex-start;
  }
  .depth6Frame13 {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0 var(--padding-10xs);
    font-size: var(--font-size-sm);
  }
  .depth5Frame03 {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .depth6Frame06 {
    width: 5.813rem;
    height: 0.5rem;
    border-radius: var(--br-9xs);
    background-color: var(--color-white);
  }
  .depth4Frame6,
  .depth5Frame12 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth5Frame12 {
    border-radius: var(--br-9xs);
    background-color: var(--color-darkslategray-100);
  }
  .depth4Frame6 {
    padding: var(--padding-base);
    gap: var(--gap-xs);
  }
  .abstain {
    position: relative;
    line-height: 1.5rem;
    font-weight: 500;
    display: inline-block;
    min-width: 3.625rem;
  }
  .depth6Frame07 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .div2 {
    position: relative;
    line-height: 1.313rem;
    display: inline-block;
    min-width: 1.688rem;
  }
  .depth5Frame04,
  .depth6Frame14 {
    display: flex;
    align-items: flex-start;
  }
  .depth6Frame14 {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0 var(--padding-10xs);
    font-size: var(--font-size-sm);
  }
  .depth5Frame04 {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .depth6Frame08 {
    width: 5.813rem;
    height: 0.5rem;
    border-radius: var(--br-9xs);
    background-color: var(--color-white);
  }
  .depth4Frame7,
  .depth5Frame13 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth5Frame13 {
    border-radius: var(--br-9xs);
    background-color: var(--color-darkslategray-100);
  }
  .depth4Frame7 {
    padding: var(--padding-base);
    gap: var(--gap-xs);
  }
  .comments {
    align-self: stretch;
    position: relative;
    line-height: 1.438rem;
  }
  .depth4Frame8 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-base) var(--padding-base) var(--padding-5xs);
    font-size: var(--font-size-lg);
  }
  .depth5Frame05 {
    height: 2.5rem;
    width: 2.5rem;
    position: relative;
    border-radius: var(--br-xl);
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .addAPublic {
    position: relative;
    line-height: 1.5rem;
    white-space: pre-wrap;
  }
  .depth7Frame0 {
    flex: 1;
    border-radius: var(--br-xs) 0 0 var(--br-xs);
    background-color: var(--color-darkslategray-200);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-xs) var(--padding-base);
    box-sizing: border-box;
    min-width: 11.125rem;
    max-width: 100%;
  }
  .depth13Frame0,
  .vector0 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .vector0 {
    width: 100%;
    height: 100%;
  }
  .depth13Frame0 {
    width: 0.875rem;
    height: 1rem;
  }
  .depth12Frame0 {
    width: 1.25rem;
    height: 1.25rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .depth11Frame0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .depth10Frame0,
  .depth9Frame0 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .depth10Frame0 {
    justify-content: center;
    padding: 0.375rem;
  }
  .depth9Frame0 {
    justify-content: flex-start;
  }
  .postComment {
    align-self: stretch;
    position: relative;
    line-height: 1.313rem;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .depth10Frame01,
  .depth9Frame1 {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .depth10Frame01 {
    align-self: stretch;
  }
  .depth9Frame1 {
    flex: 1;
    border-radius: var(--br-xs);
    background-color: #2194f2;
    padding: 0 var(--padding-base) var(--padding-2xs);
    box-sizing: border-box;
    min-width: 5.25rem;
    max-width: 30rem;
  }
  .depth7Frame1,
  .depth8Frame0 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .depth8Frame0 {
    flex: 1;
    justify-content: flex-end;
    gap: var(--gap-base);
  }
  .depth7Frame1 {
    width: 11.625rem;
    border-radius: 0 var(--br-xs) var(--br-xs) 0;
    background-color: var(--color-darkslategray-200);
    justify-content: center;
    padding: var(--padding-5xs) var(--padding-5xs) var(--padding-5xs) 0;
    box-sizing: border-box;
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--color-white);
  }
  .depth6Frame09 {
    align-self: stretch;
    border-radius: var(--br-xs);
    flex-direction: row;
    align-items: flex-start;
    row-gap: 20px;
  }
  .depth4Frame11,
  .depth5Frame14,
  .depth6Frame09 {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
  }
  .depth5Frame14 {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    min-width: 10rem;
  }
  .depth4Frame11 {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: var(--padding-xs) var(--padding-base);
    box-sizing: border-box;
    gap: var(--gap-xs);
    z-index: 1;
    color: var(--color-darkgray-200);
  }
  .vote {
    align-self: stretch;
    position: relative;
    line-height: 1.438rem;
  }
  .depth4Frame12 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-base) var(--padding-base) var(--padding-5xs);
    z-index: 2;
    font-size: var(--font-size-lg);
  }
  .votingPower {
    position: relative;
    line-height: 1.5rem;
    font-weight: 500;
    display: inline-block;
    min-width: 6.188rem;
  }
  .depth6Frame010,
  .depth7Frame01 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth6Frame010 {
    width: 29rem;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
  }
  .depth8Frame01 {
    height: 0.25rem;
    width: 12.75rem;
    border-radius: var(--br-11xs);
    background-color: var(--color-white);
  }
  .depth7Frame02 {
    flex: 1;
    border-radius: var(--br-11xs);
    background-color: var(--color-darkslategray-100);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: calc(100% - 56px);
  }
  .votingPowerValue {
    position: relative;
    line-height: 1.313rem;
    display: inline-block;
    min-width: 2.5rem;
  }
  .depth6Frame15,
  .depth7Frame11 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth6Frame15 {
    height: 1rem;
    width: 29rem;
    flex-direction: row;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    gap: var(--gap-base);
    max-width: 100%;
    font-size: var(--font-size-sm);
  }
  .depth4Frame13,
  .depth5Frame06 {
    align-self: stretch;
    display: flex;
    max-width: 100%;
  }
  .depth5Frame06 {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-base);
    box-sizing: border-box;
    row-gap: 20px;
    gap: var(--gap-0);
  }
  .depth4Frame13 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 3;
  }
  .yes1 {
    position: relative;
    line-height: 1.313rem;
    font-weight: 500;
    display: inline-block;
    min-width: 1.438rem;
  }
  .depth5Frame07 {
    width: 3.5rem;
    border-radius: var(--br-xs);
    border: 1px solid var(--color-darkslategray-100);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs) var(--padding-mini);
  }
  .no1 {
    position: relative;
    line-height: 1.313rem;
    font-weight: 500;
    display: inline-block;
    min-width: 1.188rem;
  }
  .depth5Frame15 {
    width: 3.25rem;
    border-radius: var(--br-xs);
    border: 1px solid var(--color-darkslategray-100);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs) var(--padding-mini);
  }
  .abstain1 {
    position: relative;
    line-height: 1.313rem;
    font-weight: 500;
    display: inline-block;
    min-width: 3.188rem;
  }
  .depth5Frame2 {
    flex: 1;
    border-radius: var(--br-xs);
    border: 1px solid var(--color-darkslategray-100);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs) var(--padding-mini);
    min-width: 2.125rem;
  }
  .depth3Frame0,
  .depth4Frame14 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth4Frame14 {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    padding: var(--padding-base) 45.5rem var(--padding-base) var(--padding-base);
    gap: var(--gap-xs);
    z-index: 4;
    font-size: var(--font-size-sm);
  }
  .depth3Frame0 {
    width: 60rem;
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: column;
    max-width: 60rem;
  }
  .depth1Frame0,
  .depth2Frame1 {
    align-self: stretch;
    max-width: 100%;
  }
  .depth2Frame1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding-xl) var(--padding-xl) var(--padding-lg);
    box-sizing: border-box;
  }
  .depth1Frame0 {
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-white);
    font-family: var(--font-manrope);
  }
  .depth0Frame0,
  .depth1Frame0,
  .openProposal1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth0Frame0 {
    align-self: stretch;
    background-color: var(--color-gray-200);
    min-height: 50rem;
    max-width: 100%;
  }
  .openProposal1 {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1000px) {
    .communityGrantRound {
      font-size: 1.813rem;
      line-height: 2.25rem;
    }
    .depth5Frame06,
    .depth6Frame09 {
      flex-wrap: wrap;
    }
    .depth4Frame14 {
      padding-right: 22.75rem;
      box-sizing: border-box;
    }
    .depth3Frame0 {
      max-width: 100%;
    }
  }
  @media screen and (max-width: 725px) {
    .depth9Frame1 {
      max-width: 100%;
    }
    .depth4Frame14 {
      padding-right: 11.375rem;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .communityGrantRound {
      font-size: var(--font-size-3xl);
      line-height: 1.688rem;
    }
    .depth5Frame01 {
      flex-wrap: wrap;
    }
  }