primeracopia:
    index.module.css
    guilds-page.module.css
    about-us-page.module.css
    guilds-button.module.css
    clans-buttom.module.css
    depth2-frame.module.css
    depth6-frame1.module.css
    depth6-frame.module.css
    depth6-frame2.module.css
    depth6-frame3.module.css
    depth4-frame.module.css
    global.css

segundacopia:
    index.module.css
    open-proposal.module.css
    proposals-page.module.css
    open-proposal1.module.css
    view-all.module.css
    depth2-frame.module.css
    depth4-frame.module.css
    depth5-frame.module.css
    depth4-frame1.module.css
    depth4-frame2.module.css
    depth8-frame.module.css
    depth4-frame3.module.css
    depth8-frame1.module.css
    global.css

terceracopia: //revisar estos galileos que estan mal nombrados
    index.module.css
    best-adresses.module.css
    galileo-design.module.css
    galileo-design1.module.css
    galileo-design2.module.css
    depth2-frame.module.css
    depth4-frame.module.css
    depth2-frame1.module.css
    depth3-frame.module.css
    depth4-frame1.module.css
    depth2-frame2.module.css
    depth5-frame.module.css
    depth6-frame.module.css
    global.css

cuartacopia:
    index.module.css
    galileo-design1.module.css
    galileo-design2.module.css
    galileo-design3.module.css
    galileo-design4.module.css
    depth2-frame.module.css
    depth6-frame.module.css
    depth4-frame1.module.css
    depth4-frame.module.css
    depth2-frame1.module.css
    depth8-frame.module.css
    depth2-frame2.module.css
    depth4-frame2.module.css
    global.css

quintacopia:
    index.module.css
    galileo-design1.module.css
    galileo-design2.module.css
    depth2-frame.module.css
    depth4-frame.module.css
    depth4-frame1.module.css
    depth6-frame.module.css
    depth2-frame1.module.css
    depth5-frame1.module.css
    depth6-frame1.module.css
    depth5-frame.module.css
    global.css