.depth7Frame0 {
    width: 13.313rem;
    height: 13.313rem;
    position: relative;
    border-radius: var(--br-xs);
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .depth6Frame0 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth7Frame01 {
    width: 13.313rem;
    height: 13.313rem;
    position: relative;
    border-radius: var(--br-xs);
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .depth6Frame1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth7Frame02 {
    width: 13.313rem;
    height: 13.313rem;
    position: relative;
    border-radius: var(--br-xs);
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .depth6Frame2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth7Frame03 {
    width: 13.313rem;
    height: 13.313rem;
    position: relative;
    border-radius: var(--br-xs);
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .depth4Frame0,
  .depth5Frame0,
  .depth6Frame3 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth6Frame3 {
    display: flex;
    flex-direction: column;
  }
  .depth4Frame0,
  .depth5Frame0 {
    align-self: stretch;
  }
  .depth5Frame0 {
    display: grid;
    flex-direction: row;
    gap: var(--gap-xs);
    grid-template-columns: repeat(4, minmax(160px, 1fr));
  }
  .depth4Frame0 {
    display: flex;
    flex-direction: column;
    padding: var(--padding-base);
  }
  .matter {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    line-height: 1.75rem;
    font-weight: 700;
    font-family: inherit;
  }
  .depth4Frame1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-xl) var(--padding-base) var(--padding-xs);
    font-size: var(--font-size-3xl);
  }
  .aboutTheArtist {
    align-self: stretch;
    position: relative;
    line-height: 1.438rem;
  }
  .depth4Frame2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-base) var(--padding-base) var(--padding-5xs);
  }
  .depth5Frame01 {
    height: 3.5rem;
    width: 3.5rem;
    position: relative;
    border-radius: 28px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .pseudonym {
    position: relative;
    line-height: 1.5rem;
    font-weight: 500;
    display: inline-block;
    min-width: 5.563rem;
  }
  .depth6Frame01 {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .kFollowers {
    position: relative;
    line-height: 1.313rem;
    display: inline-block;
    min-width: 5.563rem;
  }
  .depth5Frame1,
  .depth6Frame11 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .depth6Frame11 {
    overflow: hidden;
    justify-content: flex-start;
    font-size: var(--font-size-sm);
    color: var(--color-lightsteelblue);
  }
  .depth5Frame1 {
    justify-content: center;
  }
  .depth4Frame3 {
    background-color: var(--color-gray-200);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-5xs) 46.437rem var(--padding-5xs) var(--padding-base);
    box-sizing: border-box;
    gap: var(--gap-base);
    min-height: 4.5rem;
    font-size: var(--font-size-base);
  }
  .details {
    align-self: stretch;
    position: relative;
    line-height: 1.438rem;
  }
  .depth4Frame4,
  .depth4Frame5 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-base) var(--padding-base) var(--padding-5xs);
  }
  .depth4Frame5 {
    padding: var(--padding-base);
    box-sizing: border-box;
    max-width: 100%;
  }
  .pricing {
    align-self: stretch;
    position: relative;
    line-height: 1.438rem;
  }
  .depth4Frame6 {
    flex-direction: column;
    padding: var(--padding-base) var(--padding-base) var(--padding-5xs);
  }
  .depth4Frame6,
  .depth4Frame7,
  .depth5Frame02 {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth5Frame02 {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.625rem;
  }
  .depth4Frame7 {
    flex-direction: column;
    padding: var(--padding-xs) var(--padding-base);
  }
  .reviews {
    align-self: stretch;
    position: relative;
    line-height: 1.438rem;
  }
  .depth4Frame8 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-base) var(--padding-base) var(--padding-5xs);
  }
  .reviewLabel {
    align-self: stretch;
    position: relative;
    letter-spacing: -1px;
    line-height: 2.813rem;
    font-weight: 800;
  }
  .depth6Frame02 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth9Frame0,
  .starIcons {
    position: absolute;
    top: 0;
    left: 0;
  }
  .starIcons {
    width: 100%;
    height: 100%;
  }
  .depth9Frame0 {
    width: 1rem;
    height: 0.938rem;
  }
  .depth8Frame0 {
    width: 1.125rem;
    height: 1.125rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .depth7Frame04 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth9Frame01,
  .vector0 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .vector0 {
    width: 100%;
    height: 100%;
  }
  .depth9Frame01 {
    width: 1rem;
    height: 0.938rem;
  }
  .depth8Frame01 {
    width: 1.125rem;
    height: 1.125rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .depth7Frame1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth9Frame02,
  .vector01 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .vector01 {
    width: 100%;
    height: 100%;
  }
  .depth9Frame02 {
    width: 1rem;
    height: 0.938rem;
  }
  .depth8Frame02 {
    width: 1.125rem;
    height: 1.125rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .depth7Frame2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth9Frame03,
  .vector02 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .vector02 {
    width: 100%;
    height: 100%;
  }
  .depth9Frame03 {
    width: 1rem;
    height: 0.938rem;
  }
  .depth8Frame03 {
    width: 1.125rem;
    height: 1.125rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .depth7Frame3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth9Frame04,
  .vector03 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .vector03 {
    width: 100%;
    height: 100%;
  }
  .depth9Frame04 {
    width: 1rem;
    height: 0.938rem;
  }
  .depth8Frame04 {
    width: 1.125rem;
    height: 1.125rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .depth6Frame12,
  .depth7Frame4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth6Frame12 {
    flex-direction: row;
    gap: var(--gap-11xs);
  }
  .reviews1 {
    align-self: stretch;
    position: relative;
    line-height: 1.5rem;
  }
  .depth5Frame03,
  .depth6Frame21 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth6Frame21 {
    align-self: stretch;
    font-size: var(--font-size-base);
  }
  .depth5Frame03 {
    width: 6.125rem;
    padding: 0 0 3.125rem;
    box-sizing: border-box;
    gap: var(--gap-5xs);
  }
  .emptyReviewItems {
    align-self: stretch;
    position: relative;
    line-height: 1.313rem;
  }
  .depth7Frame05 {
    width: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth8Frame05 {
    height: 0.5rem;
    width: 8.5rem;
    border-radius: var(--br-9xs);
    background-color: var(--color-cornflowerblue-100);
  }
  .depth7Frame11 {
    flex: 1;
    border-radius: var(--br-9xs);
    background-color: var(--color-darkslategray-100);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 8.5rem;
    max-width: 100%;
  }
  .emptyReviewItems1 {
    align-self: stretch;
    position: relative;
    line-height: 1.313rem;
  }
  .depth6Frame03,
  .depth7Frame21 {
    display: flex;
    justify-content: flex-start;
  }
  .depth7Frame21 {
    width: 2.5rem;
    flex-direction: column;
    align-items: flex-start;
    text-align: right;
    color: var(--color-lightsteelblue);
  }
  .depth6Frame03 {
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    row-gap: 20px;
  }
  .div {
    align-self: stretch;
    position: relative;
    line-height: 1.313rem;
  }
  .depth7Frame06 {
    width: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth8Frame06 {
    height: 0.5rem;
    width: 7.625rem;
    border-radius: var(--br-9xs);
    background-color: var(--color-cornflowerblue-100);
  }
  .depth7Frame12 {
    flex: 1;
    border-radius: var(--br-9xs);
    background-color: var(--color-darkslategray-100);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 7.625rem;
    max-width: 100%;
  }
  .div1 {
    align-self: stretch;
    position: relative;
    line-height: 1.313rem;
  }
  .depth6Frame13,
  .depth7Frame22 {
    display: flex;
    justify-content: flex-start;
  }
  .depth7Frame22 {
    width: 2.5rem;
    flex-direction: column;
    align-items: flex-start;
    text-align: right;
    color: var(--color-lightsteelblue);
  }
  .depth6Frame13 {
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    row-gap: 20px;
  }
  .div2 {
    align-self: stretch;
    position: relative;
    line-height: 1.313rem;
  }
  .depth7Frame07 {
    width: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth8Frame07 {
    height: 0.5rem;
    width: 2.563rem;
    border-radius: var(--br-9xs);
    background-color: var(--color-cornflowerblue-100);
  }
  .depth7Frame13 {
    flex: 1;
    border-radius: var(--br-9xs);
    background-color: var(--color-darkslategray-100);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 2.563rem;
    max-width: 100%;
  }
  .div3 {
    align-self: stretch;
    position: relative;
    line-height: 1.313rem;
  }
  .depth6Frame22,
  .depth7Frame23 {
    display: flex;
    justify-content: flex-start;
  }
  .depth7Frame23 {
    width: 2.5rem;
    flex-direction: column;
    align-items: flex-start;
    text-align: right;
    color: var(--color-lightsteelblue);
  }
  .depth6Frame22 {
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    row-gap: 20px;
  }
  .div4 {
    align-self: stretch;
    position: relative;
    line-height: 1.313rem;
  }
  .depth7Frame08 {
    width: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth8Frame08 {
    height: 0.5rem;
    width: 0.875rem;
    border-radius: var(--br-9xs);
    background-color: var(--color-cornflowerblue-100);
  }
  .depth7Frame14 {
    flex: 1;
    border-radius: var(--br-9xs);
    background-color: var(--color-darkslategray-100);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 0.875rem;
    max-width: 100%;
  }
  .div5 {
    align-self: stretch;
    position: relative;
    line-height: 1.313rem;
  }
  .depth6Frame31,
  .depth7Frame24 {
    display: flex;
    justify-content: flex-start;
  }
  .depth7Frame24 {
    width: 2.5rem;
    flex-direction: column;
    align-items: flex-start;
    text-align: right;
    color: var(--color-lightsteelblue);
  }
  .depth6Frame31 {
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    row-gap: 20px;
  }
  .div6 {
    align-self: stretch;
    position: relative;
    line-height: 1.313rem;
  }
  .depth7Frame09 {
    width: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth8Frame09 {
    height: 0.5rem;
    width: 1.688rem;
    border-radius: var(--br-9xs);
    background-color: var(--color-cornflowerblue-100);
  }
  .depth7Frame15 {
    flex: 1;
    border-radius: var(--br-9xs);
    background-color: var(--color-darkslategray-100);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 1.688rem;
    max-width: 100%;
  }
  .div7 {
    align-self: stretch;
    position: relative;
    line-height: 1.313rem;
  }
  .depth6Frame4,
  .depth7Frame25 {
    display: flex;
    justify-content: flex-start;
  }
  .depth7Frame25 {
    width: 2.5rem;
    flex-direction: column;
    align-items: flex-start;
    text-align: right;
    color: var(--color-lightsteelblue);
  }
  .depth6Frame4 {
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    row-gap: 20px;
  }
  .depth4Frame9,
  .depth5Frame11 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth5Frame11 {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-xs);
    min-width: 12.5rem;
    max-width: 25rem;
    font-size: var(--font-size-sm);
  }
  .depth4Frame9 {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    padding: var(--padding-base) 23.375rem var(--padding-base) var(--padding-base);
    box-sizing: border-box;
    gap: 1.5rem 2rem;
    max-width: 100%;
    font-size: var(--font-size-17xl);
  }
  .anon {
    align-self: stretch;
    position: relative;
    line-height: 1.5rem;
    font-weight: 500;
  }
  .depth7Frame010 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .november182023 {
    align-self: stretch;
    position: relative;
    line-height: 1.313rem;
  }
  .depth7Frame16 {
    font-size: var(--font-size-sm);
    color: var(--color-lightsteelblue);
  }
  .depth6Frame04,
  .depth7Frame16 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .likeInteractionIcon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .depth9Frame05 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.125rem;
    height: 1.063rem;
  }
  .depth8Frame010 {
    width: 1.25rem;
    height: 1.25rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .depth7Frame011 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .likeInteractionIcon1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .depth9Frame06 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.125rem;
    height: 1.063rem;
  }
  .depth8Frame011 {
    width: 1.25rem;
    height: 1.25rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .depth7Frame17 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth9Frame07,
  .likeIcon {
    position: absolute;
    top: 0;
    left: 0;
  }
  .likeIcon {
    width: 100%;
    height: 100%;
  }
  .depth9Frame07 {
    width: 1.125rem;
    height: 1.063rem;
  }
  .depth8Frame012 {
    width: 1.25rem;
    height: 1.25rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .depth7Frame26 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth9Frame08,
  .likeIcon1 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .likeIcon1 {
    width: 100%;
    height: 100%;
  }
  .depth9Frame08 {
    width: 1.125rem;
    height: 1.063rem;
  }
  .depth8Frame013 {
    width: 1.25rem;
    height: 1.25rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .depth7Frame31 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth9Frame09,
  .likeIcon2 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .likeIcon2 {
    width: 100%;
    height: 100%;
  }
  .depth9Frame09 {
    width: 1.125rem;
    height: 1.063rem;
  }
  .depth8Frame014 {
    width: 1.25rem;
    height: 1.25rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .depth6Frame14,
  .depth7Frame41 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth6Frame14 {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-761xl) 0 0;
    gap: var(--gap-11xs);
  }
  .veryNice {
    align-self: stretch;
    position: relative;
    line-height: 1.5rem;
  }
  .depth6Frame23 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth10Frame0,
  .likeIcon3 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .likeIcon3 {
    width: 100%;
    height: 100%;
  }
  .depth10Frame0 {
    width: 1.125rem;
    height: 1rem;
  }
  .depth9Frame010 {
    width: 1.25rem;
    height: 1.25rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .depth7Frame012,
  .depth8Frame015 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .depth7Frame012 {
    flex-direction: row;
  }
  .depth10Frame01,
  .likeIcon4 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .likeIcon4 {
    width: 100%;
    height: 100%;
  }
  .depth10Frame01 {
    width: 1.125rem;
    height: 1rem;
  }
  .depth9Frame011 {
    width: 1.25rem;
    height: 1.25rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .depth6Frame32,
  .depth7Frame18,
  .depth8Frame016 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .depth6Frame32,
  .depth7Frame18 {
    flex-direction: row;
  }
  .depth6Frame32 {
    align-self: stretch;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 50.75rem 0 0;
    gap: var(--gap-xl);
  }
  .depth4Frame10,
  .depth5Frame12 {
    align-self: stretch;
    background-color: var(--color-gray-200);
    flex-direction: column;
    justify-content: flex-start;
  }
  .depth5Frame12 {
    display: flex;
    align-items: flex-start;
    gap: var(--gap-xs);
  }
  .depth4Frame10 {
    overflow: hidden;
    padding: var(--padding-base);
    gap: var(--gap-13xl);
    font-size: var(--font-size-base);
  }
  .depth2Frame1,
  .depth3Frame0,
  .depth4Frame10 {
    display: flex;
    align-items: flex-start;
  }
  .depth3Frame0 {
    width: 57.5rem;
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 57.5rem;
  }
  .depth2Frame1 {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: var(--padding-xl) var(--padding-xl) var(--padding-lg);
    box-sizing: border-box;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-white);
    font-family: var(--font-manrope);
  }
  .depth0Frame0,
  .galileoDesign {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth0Frame0 {
    flex: 1;
    background-color: var(--color-gray-200);
    flex-direction: column;
    min-height: 50rem;
    max-width: 100%;
  }
  .galileoDesign {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    flex-direction: row;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 975px) {
    .depth4Frame3 {
      flex-wrap: wrap;
      padding-right: 23.188rem;
      box-sizing: border-box;
    }
    .reviewLabel {
      font-size: var(--font-size-10xl);
      line-height: 2.25rem;
    }
    .depth4Frame9 {
      padding-right: 11.688rem;
      box-sizing: border-box;
    }
    .depth6Frame14 {
      flex-wrap: wrap;
      padding-right: var(--padding-371xl);
      box-sizing: border-box;
    }
    .depth6Frame32 {
      padding-right: 25.375rem;
      box-sizing: border-box;
    }
    .depth3Frame0 {
      max-width: 100%;
    }
  }
  @media screen and (max-width: 725px) {
    .depth5Frame0 {
      grid-template-columns: minmax(160px, 1fr);
    }
    .matter {
      font-size: var(--font-size-lg);
      line-height: 1.375rem;
    }
    .depth4Frame3 {
      padding-right: 11.563rem;
      box-sizing: border-box;
    }
    .reviewLabel {
      font-size: var(--font-size-3xl);
      line-height: 1.688rem;
    }
    .depth5Frame11 {
      max-width: 100%;
    }
    .depth4Frame9 {
      gap: var(--gap-base);
      padding-right: 5.813rem;
      box-sizing: border-box;
    }
    .depth6Frame14,
    .depth6Frame32 {
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .depth4Frame10 {
      gap: var(--gap-base);
    }
  }
  @media screen and (max-width: 450px) {
    .depth5Frame0 {
      justify-content: center;
      grid-template-columns: repeat(2, minmax(160px, 277px));
    }
    .depth6Frame03,
    .depth6Frame13,
    .depth6Frame22,
    .depth6Frame31,
    .depth6Frame4 {
      flex-wrap: wrap;
    }
  }