.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  
  .additionalInfo {
    width: 100%;
    max-width: 1200px;
    padding: 2rem;
  }
  
  .guilds,
  .howItWorks {
    margin-top: 2rem;
  }
  
  .guildsList,
  .steps {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  
  .learnMore {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #1a80e6;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    color: #fff;
  }
  