.missionRanks {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    letter-spacing: -2px;
    line-height: 3.75rem;
    font-weight: 800;
    font-family: inherit;
  }
  .progressThroughThe {
    position: relative;
    font-size: var(--font-size-base);
    line-height: 1.5rem;
  }
  .missionRanksParent {
    width: 34.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    max-width: 100%;
  }
  .depth11Frame0,
  .vector0 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .vector0 {
    width: 100%;
    height: 100%;
  }
  .depth11Frame0 {
    width: 1rem;
    height: 1rem;
  }
  .depth10Frame0 {
    height: 1.25rem;
    width: 1.25rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .depth9Frame0 {
    width: 2.25rem;
    border-radius: var(--br-xs) 0 0 var(--br-xs);
    background-color: var(--color-gray-100);
    border-top: 1px solid var(--color-darkslategray-100);
    border-bottom: 1px solid var(--color-darkslategray-100);
    border-left: 1px solid var(--color-darkslategray-100);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-xl) 0 var(--padding-xl) var(--padding-mini);
  }
  .searchForA {
    position: relative;
    line-height: 1.5rem;
    white-space: pre-wrap;
  }
  .depth9Frame1,
  .submit {
    overflow: hidden;
    white-space: nowrap;
  }
  .depth9Frame1 {
    flex: 1;
    background-color: var(--color-gray-100);
    border-top: 1px solid var(--color-darkslategray-100);
    border-bottom: 1px solid var(--color-darkslategray-100);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-lg) var(--padding-5xs);
    min-width: 9.5rem;
    max-width: 100%;
  }
  .submit {
    align-self: stretch;
    position: relative;
    line-height: 1.5rem;
    text-overflow: ellipsis;
  }
  .depth11Frame01 {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .depth10Frame01,
  .depth9Frame2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .depth10Frame01 {
    flex: 1;
    border-radius: var(--br-xs);
    background-color: #2194f2;
    overflow: hidden;
    padding: var(--padding-xs) var(--padding-xl);
    min-width: 5.25rem;
    max-width: 30rem;
  }
  .depth9Frame2 {
    width: 6.625rem;
    border-radius: 0 var(--br-xs) var(--br-xs) 0;
    background-color: var(--color-gray-100);
    border-top: 1px solid var(--color-darkslategray-100);
    border-right: 1px solid var(--color-darkslategray-100);
    border-bottom: 1px solid var(--color-darkslategray-100);
    padding: var(--padding-7xs) var(--padding-6xs) var(--padding-7xs) 0;
    text-align: center;
    color: var(--color-white);
  }
  .depth7Frame1,
  .depth8Frame0 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth8Frame0 {
    align-self: stretch;
    border-radius: var(--br-xs);
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    row-gap: 20px;
  }
  .depth7Frame1 {
    flex: 1;
    flex-direction: column;
    min-width: 10rem;
    max-width: 30rem;
  }
  .depth6Frame0,
  .depth7Frame1Wrapper {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .depth7Frame1Wrapper {
    width: 34.5rem;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 2.25rem;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-darkgray-200);
  }
  .depth6Frame0 {
    flex: 1;
    border-radius: var(--br-xs);
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    padding: 10.125rem var(--padding-xl) 8.125rem 3.25rem;
    gap: var(--gap-13xl);
    background-image: url(/depth-6-frame-02@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    min-height: 30rem;
  }
  .apprenticeRanks,
  .depth6Frame0Wrapper,
  .ranks {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .depth6Frame0Wrapper {
    flex-direction: row;
    padding: 0 var(--padding-base) var(--padding-base);
    box-sizing: border-box;
  }
  .apprenticeRanks,
  .ranks {
    flex-direction: column;
  }
  .depth3Frame0,
  .depth3Frame0Wrapper {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .depth3Frame0 {
    width: 60rem;
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-base) 0 0;
    max-width: 60rem;
  }
  .depth3Frame0Wrapper {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    max-width: 100%;
    text-align: center;
    font-size: var(--font-size-29xl);
    color: var(--color-white);
    font-family: var(--font-manrope);
  }
  .clansButtom,
  .depth0Frame0 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .depth0Frame0 {
    flex: 1;
    background-color: var(--color-gray-200);
    flex-direction: column;
    padding: 0 0 var(--padding-xl);
    box-sizing: border-box;
    gap: var(--gap-xl);
    min-height: 50rem;
    max-width: 100%;
  }
  .clansButtom {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    flex-direction: row;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1025px) {
    .missionRanks {
      font-size: var(--font-size-10xl);
      line-height: 2.25rem;
    }
  }
  @media screen and (max-width: 750px) {
    .missionRanks {
      font-size: var(--font-size-19xl);
      line-height: 3rem;
    }
    .depth3Frame0 {
      max-width: 100%;
    }
  }
  @media screen and (max-width: 450px) {
    .depth10Frame01,
    .depth7Frame1 {
      max-width: 100%;
    }
    .depth6Frame0 {
      gap: var(--gap-base);
      padding-left: var(--padding-7xl);
      padding-top: 6.563rem;
      padding-bottom: 5.25rem;
      box-sizing: border-box;
    }
  }