.depth7Frame0,
.englishClan {
  align-self: stretch;
  position: relative;
}
.depth7Frame0 {
  height: 6.188rem;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.englishClan {
  line-height: 1.5rem;
  font-weight: 500;
}
.depth6Frame0,
.depth7Frame1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth7Frame1 {
  align-self: stretch;
}
.depth6Frame0 {
  flex: 1;
  padding: 0 0 var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-xs);
  min-width: 10.75rem;
  max-width: 11rem;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-manrope);
}